Repository chapel-lang/chapel, pull requests merged in 2018-06, with the labels that each got.

#9612 warn-unstable flag warns for undecorated class type
  compiler/passes/errorHandling.cpp
  compiler/passes/scopeResolve.cpp
  compiler/resolution/functionResolution.cpp
  modules/internal/ChapelArray.chpl
  modules/internal/ChapelBase.chpl
  modules/internal/ChapelDistribution.chpl
  modules/internal/ChapelError.chpl
  modules/internal/ChapelIO.chpl
  modules/internal/ChapelLocale.chpl
  modules/internal/ChapelTaskDataHelp.chpl
  modules/internal/DefaultAssociative.chpl
  modules/internal/DefaultOpaque.chpl
  modules/internal/DefaultRectangular.chpl
  modules/internal/LocaleModelHelpSetup.chpl
  modules/internal/LocalesArray.chpl
  modules/internal/StringCasts.chpl
  modules/standard/IO.chpl
  modules/standard/List.chpl
  test/compflags/ferguson/unstable-class.chpl
  test/compflags/ferguson/unstable-class.compopts
  test/compflags/ferguson/unstable-class.good
Labels: stat: Ready to Merge

#9694 Create an array/domain/distribution class for external arrays
  modules/internal/CPtr.chpl
  modules/packages/ExternalArray.chpl
  test/compflags/lydia/library/exportArray/array_provider.c
  test/compflags/lydia/library/exportArray/array_provider.h
  test/compflags/lydia/library/exportArray/array_provider_real.c
  test/compflags/lydia/library/exportArray/array_provider_real.h
  test/compflags/lydia/library/exportArray/wrapExternArray-copy.chpl
  test/compflags/lydia/library/exportArray/wrapExternArray-copy.compopts
  test/compflags/lydia/library/exportArray/wrapExternArray-copy.good
  test/compflags/lydia/library/exportArray/wrapExternArray-real.chpl
  test/compflags/lydia/library/exportArray/wrapExternArray-real.compopts
  test/compflags/lydia/library/exportArray/wrapExternArray-real.good
  test/compflags/lydia/library/exportArray/wrapExternArray.chpl
  test/compflags/lydia/library/exportArray/wrapExternArray.compopts
  test/compflags/lydia/library/exportArray/wrapExternArray.good
Labels: area: Modules, area: Tools, stat: Ready to Merge

#9728 Close square brackets in gengraphs messages
  util/start_test
Labels: area: Tools, stat: Ready to Merge

#9770 Mock up exported function that returns an array
  modules/packages/ExternalArray.chpl
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.cleanfiles
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.good
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.lastcompopts
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.precomp
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.test.c
  test/compflags/lydia/library/exportArray/returnExternArray.chpl
  test/compflags/lydia/library/exportArray/returnExternArray.h
  test/compflags/lydia/library/exportArray/returnExternArray.notest
Labels: area: Modules, area: Tests, stat: Needs Testing

#9771 Cleanup leaked extern dist
  modules/packages/ExternalArray.chpl
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.test.c
  test/compflags/lydia/library/exportArray/returnExternArray.h
Labels: area: Modules, area: Tests

#9789 Fix test errors for new external array set up
  modules/packages/ExternalArray.chpl
  runtime/include/chpl-external-array.h
  runtime/src/chpl-external-array.c
  test/compflags/lydia/library/exportArray/callFuncReturnsArray.test.c
Labels: area: Modules, area: Runtime, area: Tests, stat: Needs Code Review

#9507 Convert blocking calls in Spawn module to yielding non-blocking loops
  runtime/src/qio/qio_popen.c
  test/library/packages/ZMQ.skipif
Labels: stat: Ready to Merge

#9831 Avoid documenting compiler generated functions, especially forwarding ones
  compiler/AST/build.cpp
  compiler/AST/symbol.cpp
  test/chpldoc/classes/forwards-generic.doc.catfiles
  test/chpldoc/classes/forwards-generic.doc.chpl
  test/chpldoc/classes/forwards-generic.doc.good
  test/chpldoc/classes/forwards.doc.bad
  test/chpldoc/classes/forwards.doc.catfiles
  test/chpldoc/classes/forwards.doc.chpl
  test/chpldoc/classes/forwards.doc.future
  test/chpldoc/classes/forwards.doc.good
Labels: area: Compiler, area: Tests, area: Tools

#9855 Add --break-on-id and --break-on-delete-id to chpldoc
  compiler/main/commonFlags.h
  compiler/main/docsDriver.cpp
  compiler/main/driver.cpp
Labels: area: Compiler, area: Tools, stat: Needs Code Review

#9893 Fix the error Sam ran into with documenting lifetime checking
  compiler/AST/AstToText.cpp
  test/chpldoc/classes/lifetimeChecking-generic.doc.catfiles
  test/chpldoc/classes/lifetimeChecking-generic.doc.chpl
  test/chpldoc/classes/lifetimeChecking-generic.doc.good
  test/chpldoc/classes/lifetimeChecking-notype.doc.catfiles
  test/chpldoc/classes/lifetimeChecking-notype.doc.chpl
  test/chpldoc/classes/lifetimeChecking-notype.doc.good
  test/chpldoc/classes/lifetimeChecking.doc.catfiles
  test/chpldoc/classes/lifetimeChecking.doc.chpl
  test/chpldoc/classes/lifetimeChecking.doc.good
  test/chpldoc/globals/lifetimeChecking.doc.catfiles
  test/chpldoc/globals/lifetimeChecking.doc.chpl
  test/chpldoc/globals/lifetimeChecking.doc.good
Labels: area: Compiler, area: Docs, area: Tests, area: Tools

#9905 Fix issue with overloaded private function
  compiler/passes/ResolveScope.cpp
  test/visibility/private/functions/overloaded.chpl
  test/visibility/private/functions/overloaded.good
  test/visibility/private/functions/overloaded2.chpl
  test/visibility/private/functions/overloaded2.good
  test/visibility/private/functions/overloaded3.chpl
  test/visibility/private/functions/overloaded3.good
  test/visibility/private/functions/overloaded4.chpl
  test/visibility/private/functions/overloaded4.good
  test/visibility/private/functions/symbolResError.chpl
  test/visibility/private/functions/symbolResError.good
Labels: area: Compiler, area: Tests

#9925 Adds a test of using an extern type as the argument for an exported function
  test/compflags/lydia/library/externRecords/defineRecord.h
  test/compflags/lydia/library/externRecords/receiveExternRecord.chpl
  test/compflags/lydia/library/externRecords/receiveExternRecord.h
  test/compflags/lydia/library/externRecords/receiveExternRecord.notest
  test/compflags/lydia/library/externRecords/sendExternRecord.cleanfiles
  test/compflags/lydia/library/externRecords/sendExternRecord.good
  test/compflags/lydia/library/externRecords/sendExternRecord.lastcompopts
  test/compflags/lydia/library/externRecords/sendExternRecord.precomp
  test/compflags/lydia/library/externRecords/sendExternRecord.test.c
Labels: area: Tests

#9891 Add TOML documentation
  modules/Makefile
  modules/packages/TOML.chpl
Labels: 1 Team: Jelly, area: Docs

#9875 Mason commands from subdirectory
  test/mason/chplVersion/Mason.toml
  test/mason/chplVersion/mason-chpl-version-build.chpl
  test/mason/masonUpdateTest.chpl
  test/mason/masonUpdateTest.execopts
  test/mason/subdir-commands/.gitignore
  test/mason/subdir-commands/CLEANFILES
  test/mason/subdir-commands/COMPOPTS
  test/mason/subdir-commands/Mason.toml
  test/mason/subdir-commands/PREDIFF
  test/mason/subdir-commands/PREEXEC
  test/mason/subdir-commands/SKIPIF
  test/mason/subdir-commands/mason-run.chpl
  test/mason/subdir-commands/mason-run.good
  test/mason/subdir-commands/mason-run.skipif
  test/mason/subdir-commands/src/FizzBuzz.chpl
  test/mason/subdir-commands/src/NOTEST
  tools/mason/MasonBuild.chpl
  tools/mason/MasonNew.chpl
  tools/mason/MasonRun.chpl
  tools/mason/MasonUpdate.chpl
  tools/mason/MasonUtils.chpl
  tools/mason/mason.chpl
Labels: 1 Team: Jelly, area: Tools

#9952 Update skipif to limit tests to only one platform, and mention why in the future
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsArrayTakesArg.future
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsArrayTakesArg.skipif
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg.future
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg.skipif
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsBadArray.future
  test/compflags/lydia/library/exportArray/returningArr/callFuncReturnsBadArray.skipif
Labels: area: Tests

#9916 Add support for bool ranges
  compiler/AST/ParamForLoop.cpp
  modules/internal/ChapelRange.chpl
  test/param/diten/paramForBool.good
  test/types/range/nonIntTypes/boolRange.chpl
  test/types/range/nonIntTypes/boolRange.good
Labels: area: Language, stat: Needs Code Review

#10035 Add a test demonstrating the request for a better use-before-def error message
  test/visibility/scoping-shadows-error-message.bad
  test/visibility/scoping-shadows-error-message.chpl
  test/visibility/scoping-shadows-error-message.future
  test/visibility/scoping-shadows-error-message.good
Labels: area: Tests, type: Error Message
