Repository chapel-lang/chapel, pull requests merged in 2019-07, with the labels that each got.

#13329 Sub test filter improvements
  test/chplenv/sub_test_filters.notest
  test/chplenv/sub_test_filters/compiler-error.chpl
  test/chplenv/sub_test_filters/compiler-error.good
  test/chplenv/sub_test_filters/compiler-warning.chpl
  test/chplenv/sub_test_filters/compiler-warning.good
  test/chplenv/sub_test_filters/runtime-error.chpl
  test/chplenv/sub_test_filters/runtime-error.good
  util/test/sub_test
Labels: stat: Ready to Merge

#13339 Move extra empty locales from ChapelDistribution to LocaleModels where missing
  modules/internal/ChapelDistribution.chpl
  modules/internal/localeModels/knl/LocaleModel.chpl
  modules/internal/localeModels/numa/LocaleModel.chpl
  test/modules/vass/deinit-order-modules.verbose.good
Labels: area: Libraries / Modules, stat: Ready to Merge

#13338 Fix a problem with override checking
  compiler/resolution/virtualDispatch.cpp
Labels: stat: Ready to Merge

#13342 Move some read/writeThis methods to ChapelIO
  modules/internal/ChapelIO.chpl
  modules/internal/ChapelRange.chpl
  modules/internal/ChapelTuple.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13287 GSoC 2019: Do not generate C in LLVM mode when not needed
  compiler/codegen/codegen.cpp
  compiler/codegen/expr.cpp
  compiler/include/expr.h
  test/execflags/sungeun/about.prediff
  test/execflags/sungeun/about.skipif
Labels: stat: Needs Testing, stat: cla signed

#13355 Fix bug with private use hiding later public uses
  compiler/passes/scopeResolve.cpp
  test/visibility/private/uses/use_weirdEnumHiding.chpl
  test/visibility/private/uses/use_weirdEnumHiding.good
  test/visibility/private/uses/weirdEnumHiding.chpl
  test/visibility/private/uses/weirdEnumHiding.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#13346 Widened scope of check for PBSPro for `pbs-aprun` launcher
  runtime/src/launch/pbs-aprun/launch-pbs-aprun.c
Labels: stat: cla signed

#13356 Move LocaleModel.writeThis to ChapelIO
  modules/internal/ChapelIO.chpl
  modules/internal/localeModels/apu/LocaleModel.chpl
  modules/internal/localeModels/flat/LocaleModel.chpl
  modules/internal/localeModels/knl/LocaleModel.chpl
  modules/internal/localeModels/numa/LocaleModel.chpl
Labels: area: Libraries / Modules

#13371 Fix test/execflags/sungeun/about.chpl for CHPL_LLVM=system
  test/execflags/sungeun/about.prediff
Labels: stat: cla signed

#13288 GSoC 2019: Launcher and Other Classes for Unit Test Framework
  test/library/packages/UnitTest/AssertEqual/AssertEqualTest.chpl
  test/library/packages/UnitTest/AssertEqual/EqualLinkedList.chpl
  test/library/packages/UnitTest/AssertFalse/AssertFalseTest.chpl
  test/library/packages/UnitTest/AssertGreater/AssertGreaterTest.chpl
  test/library/packages/UnitTest/AssertGreater/UnEqualRangeGreater.bad
  test/library/packages/UnitTest/AssertGreater/UnEqualRangeGreater.chpl
  test/library/packages/UnitTest/AssertLess/AssertLessTest.chpl
  test/library/packages/UnitTest/AssertNotEqual/AssertNotEqualTest.chpl
  test/library/packages/UnitTest/AssertTrue/AssertTrueTest.chpl
  test/library/packages/UnitTest/Launcher.chpl
  test/library/packages/UnitTest/Launcher.notest
  test/library/packages/UnitTest/LauncherTest/test_fail.chpl
  test/library/packages/UnitTest/LauncherTest/test_fail.notest
  test/library/packages/UnitTest/LauncherTest/test_ok.chpl
  test/library/packages/UnitTest/LauncherTest/test_ok.notest
  test/library/packages/UnitTest/Launcher_Test.chpl
  test/library/packages/UnitTest/Launcher_Test.execopts
  test/library/packages/UnitTest/TestError.chpl
  test/library/packages/UnitTest/TestError.notest
  test/library/packages/UnitTest/TestResult.chpl
  test/library/packages/UnitTest/TestResult.notest
  test/library/packages/UnitTest/UnitTest.chpl
  test/library/packages/UnitTest/launcher_Test.fail.good
  test/library/packages/UnitTest/launcher_Test.folder.good
  test/library/packages/UnitTest/launcher_Test.folderok.good
  test/library/packages/UnitTest/launcher_Test.halt.good
  test/library/packages/UnitTest/launcher_Test.skipfile.good
  test/library/packages/UnitTest/test_halt.chpl
  test/library/packages/UnitTest/test_halt.notest
  test/library/packages/UnitTest/test_skip.chpl
  test/library/packages/UnitTest/test_skip.notest
Labels: stat: cla signed

#13369 Remove modules that aren't used in scopeResolve
  compiler/AST/AggregateType.cpp
  compiler/AST/AstDump.cpp
  compiler/AST/AstDumpToNode.cpp
  compiler/AST/ModuleSymbol.cpp
  compiler/AST/UseStmt.cpp
  compiler/include/ModuleSymbol.h
  compiler/include/type.h
  compiler/passes/InitNormalize.cpp
  compiler/passes/addInitGuards.cpp
  compiler/passes/scopeResolve.cpp
  compiler/resolution/cleanups.cpp
  compiler/resolution/functionResolution.cpp
  compiler/resolution/lowerIterators.cpp
  compiler/resolution/virtualDispatch.cpp
  test/interop/C/errorMessage/multiMod/C.chpl
  test/interop/C/errorMessage/multiMod/C.notest
  test/interop/C/errorMessage/multiMod/callMultiModLib.good
  test/interop/C/errorMessage/multiMod/callMultiModLib.test.c
  test/interop/C/errorMessage/multiMod/multipleModules.chpl
  test/interop/C/errorMessage/multiMod/multipleModules.compopts
  test/users/ferguson/bug-unused.chpl
  test/users/ferguson/bug-unused.good
  test/users/ferguson/bug-unused2.chpl
  test/users/ferguson/bug-unused2.good
  test/visibility/except/typeExcept.chpl
  test/visibility/except/typeExcept.good
Labels: stat: Ready to Merge

#13372 Make the use of ChapelStandard private by default
  compiler/AST/ModuleSymbol.cpp
  modules/internal/CPtr.chpl
  modules/internal/ChapelDistribution.chpl
  modules/internal/ChapelRange.chpl
  modules/internal/ChapelStandard.chpl
  modules/internal/DefaultAssociative.chpl
  modules/internal/DefaultRectangular.chpl
  modules/internal/ISO_Fortran_binding.chpl
  modules/internal/String.chpl
  test/modules/bradc/printModStuff/foo.good
  test/modules/sungeun/init/printModuleInitOrder.good
  test/modules/sungeun/init/printModuleInitOrder.na-none.good
  test/modules/use/usePollutesDueToChplStandard.bad
  test/modules/use/usePollutesDueToChplStandard.future
  test/modules/vass/deinit-order-modules.verbose.good
Labels: area: Compiler, area: Libraries / Modules, area: Tests, stat: Needs Code Review

#13375 GSoC 2019: Adds Feature of Handling Locales in Unit test
  test/library/packages/UnitTest/AssertGreater/UnEqualRangeGreater.bad
  test/library/packages/UnitTest/Launcher.chpl
  test/library/packages/UnitTest/Launcher_Test.execopts
  test/library/packages/UnitTest/TestError.chpl
  test/library/packages/UnitTest/TestResult.chpl
  test/library/packages/UnitTest/UnitTest.chpl
  test/library/packages/UnitTest/launcher_Test.numLocales.comm-none.good
  test/library/packages/UnitTest/launcher_Test.numLocales.good
  test/library/packages/UnitTest/test_locales.chpl
  test/library/packages/UnitTest/test_locales.notest
Labels: stat: cla signed

#13378 filter intel license error for runtime cases too
  util/test/sub_test
Labels: stat: Ready to Merge

#13449 After discussion, make the use of SysBasic and SysError private
  modules/internal/ChapelStandard.chpl
  modules/standard/LinkedLists.chpl
  modules/standard/Regexp.chpl
  modules/standard/Time.chpl
  test/library/standard/List/bradc/emptySeq3.good
  test/modules/bradc/printModStuff/foo.good
Labels: area: Libraries / Modules

#13377 GSoC 2019: Do not generate chpl_compilation_config.c at all in LLVM mode without a launcher
  compiler/codegen/codegen.cpp
  compiler/include/clangUtil.h
  compiler/llvm/clangUtil.cpp
Labels: stat: cla signed

#13464 GSoC 2019: Adds `DependsOn` Functionality in UnitTest Framework.
  test/library/packages/UnitTest/AssertGreater/UnEqualRangeGreater.bad
  test/library/packages/UnitTest/Launcher.chpl
  test/library/packages/UnitTest/Launcher_Test.execopts
  test/library/packages/UnitTest/TestError.chpl
  test/library/packages/UnitTest/TestResult.chpl
  test/library/packages/UnitTest/UnitTest.chpl
  test/library/packages/UnitTest/launcher_Test.dependency.good
  test/library/packages/UnitTest/launcher_Test.numLocales.comm-none.good
  test/library/packages/UnitTest/launcher_Test.numLocales.good
  test/library/packages/UnitTest/test_dependency.chpl
  test/library/packages/UnitTest/test_dependency.notest
  test/library/packages/UnitTest/test_locales.chpl
Labels: stat: cla signed

#13494 Privately use these two enums in RangeChunk package module
  modules/packages/RangeChunk.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13501 Skip this test when ZMQ is not installed or when running CHPL_COMM != none
  test/deprecated/setSockoptSubscribe.skipif
Labels: area: Tests, stat: Needs Testing

#13502 Add a note to guard against a concern of Michael's for the ZMQ module
  modules/packages/ZMQ.chpl
Labels: area: Libraries / Modules

#13496 Change the local uses of the Reflection module to one module level private use
  modules/packages/Sort.chpl
Labels: area: Libraries / Modules, stat: Ready to Merge

#13499 Make the use of the Reflection and ExplicitRefCount modules private to Futures
  modules/packages/Futures.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13504 Privately use SysBasic in IO.chpl
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13505 Remove the Error module
  modules/standard/Error.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13495 Make ZMQ's use of Reflection and ExplicitRefCount private.
  modules/packages/ZMQ.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#13500 Make the use of the Path module private to FileSystem
  modules/standard/FileSystem.chpl
Labels: area: Libraries / Modules, stat: Ready to Merge

#13507 Make the use of the Sys module private to Path
  modules/standard/Path.chpl
Labels: area: Libraries / Modules, stat: Ready to Merge

#13513 Change some public uses in ChapelSyncvar to private
  modules/internal/ChapelSyncvar.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#12721 GSoC 2019: Implement llvm.lifetime.start and llvm.lifetime.end intrinsics
  compiler/codegen/codegen.cpp
  compiler/codegen/expr.cpp
  compiler/codegen/stmt.cpp
  compiler/include/codegen.h
  test/llvm/lifetime-intrinsics/PREDIFF
  test/llvm/lifetime-intrinsics/SKIPIF
  test/llvm/lifetime-intrinsics/lifetime-class.chpl
  test/llvm/lifetime-intrinsics/lifetime-class.compopts
  test/llvm/lifetime-intrinsics/lifetime-class.good
  test/llvm/lifetime-intrinsics/lifetime-multi-blocks.chpl
  test/llvm/lifetime-intrinsics/lifetime-multi-blocks.compopts
  test/llvm/lifetime-intrinsics/lifetime-multi-blocks.good
  test/llvm/lifetime-intrinsics/lifetime-multi-return.chpl
  test/llvm/lifetime-intrinsics/lifetime-multi-return.compopts
  test/llvm/lifetime-intrinsics/lifetime-multi-return.good
  test/llvm/lifetime-intrinsics/lifetime-no-return.chpl
  test/llvm/lifetime-intrinsics/lifetime-no-return.compopts
  test/llvm/lifetime-intrinsics/lifetime-no-return.good
  test/llvm/lifetime-intrinsics/lifetime-proc.chpl
  test/llvm/lifetime-intrinsics/lifetime-proc.compopts
  test/llvm/lifetime-intrinsics/lifetime-proc.good
  test/llvm/lifetime-intrinsics/lifetime-record.chpl
  test/llvm/lifetime-intrinsics/lifetime-record.compopts
  test/llvm/lifetime-intrinsics/lifetime-record.good
  test/llvm/lifetime-intrinsics/lifetime-ref.chpl
  test/llvm/lifetime-intrinsics/lifetime-ref.compopts
  test/llvm/lifetime-intrinsics/lifetime-ref.good
  test/llvm/lifetime-intrinsics/lifetime-temporaries.chpl
  test/llvm/lifetime-intrinsics/lifetime-temporaries.compopts
  test/llvm/lifetime-intrinsics/lifetime-temporaries.good
  test/llvm/lifetime-intrinsics/lifetime-throws.chpl
  test/llvm/lifetime-intrinsics/lifetime-throws.compopts
  test/llvm/lifetime-intrinsics/lifetime-throws.good
Labels: stat: Ready to Merge, stat: cla signed

#13497 Change some of the uses in the TOML library to private
  modules/packages/TOML.chpl
  tools/mason/MasonBuild.chpl
  tools/mason/MasonExternal.chpl
  tools/mason/MasonUtils.chpl
Labels: area: Libraries / Modules, area: Tools, stat: Needs Design Review

#13411 Local index addition for block distributed sparse domains
  modules/dists/SparseBlockDist.chpl
  modules/internal/ChapelArray.chpl
  modules/internal/ChapelDistribution.chpl
  modules/internal/DefaultSparse.chpl
  modules/layouts/LayoutCS.chpl
  test/users/engin/sparse_bulk_dist/sparseBulkAddHere.chpl
  test/users/engin/sparse_bulk_dist/sparseBulkAddHere.good
  test/users/engin/sparse_bulk_dist/sparseBulkAddHere.suppressif
Labels: stat: cla signed

#13553 Add string.toByte() and string.toCodepoint()
  compiler/resolution/postFold.cpp
  modules/internal/String.chpl
  modules/packages/LAPACK.chpl
  test/deprecated/ascii.good
  test/io/bharshbarg/readUntil.chpl
  test/io/bharshbarg/readlineArray.chpl
  test/io/bharshbarg/readlineArrayVariable.chpl
  test/io/cassella/readline.chpl
  test/library/packages/Itertools/cycle/check_indexable.chpl
  test/library/packages/LAPACK/dgees.chpl
  test/release/examples/benchmarks/shootout/fasta.chpl
  test/release/examples/benchmarks/shootout/knucleotide.chpl
  test/release/examples/benchmarks/shootout/revcomp-fast.chpl
  test/release/examples/benchmarks/shootout/revcomp.chpl
  test/studies/parboil/histo/histoSerial.chpl
  test/studies/shootout/fasta/bradc/fasta-blc-numa.chpl
  test/studies/shootout/fasta/bradc/fasta-blc.chpl
  test/studies/shootout/fasta/kbrady/fasta-enum.chpl
  test/studies/shootout/fasta/kbrady/fasta-qio.chpl
  test/studies/shootout/k-nucleotide/bharshbarg/knucleotide-elegant.chpl
  test/studies/shootout/k-nucleotide/bharshbarg/knucleotide-strings.chpl
  test/studies/shootout/k-nucleotide/bradc/knucleotide-blc.chpl
  test/studies/shootout/reverse-complement/bharshbarg/revcomp-begin.chpl
  test/studies/shootout/reverse-complement/bharshbarg/revcomp-buf.chpl
  test/studies/shootout/reverse-complement/bharshbarg/revcomp-line.chpl
  test/studies/shootout/reverse-complement/bharshbarg/revcomp-mark-skip-read-begin.chpl
  test/studies/shootout/reverse-complement/bradc/revcomp-blc.chpl
  test/studies/shootout/submitted/fasta3.good
  test/studies/shootout/submitted/fasta4.good
  test/studies/shootout/submitted/knucleotide2.good
  test/studies/shootout/submitted/revcomp.good
  test/studies/shootout/submitted/revcomp2.good
  test/types/config/twoConfigsOneDecl.chpl
  test/types/string/StringImpl/memLeaks/byte.chpl
  test/types/string/dmk/oobbyte.good
  test/types/string/dmk/oobbyte.prediff
  test/types/string/dmk/oobbyte2.chpl
  test/types/string/dmk/oobbyte2.good
  test/types/string/dmk/oobbytem1.chpl
  test/types/string/dmk/oobbytem1.good
  test/types/string/dmk/oobcodepoint.chpl
  test/types/string/dmk/oobcodepoint.good
  test/types/string/dmk/oobcodepoint.suppressif
  test/types/string/dmk/toint/toByte_err.chpl
  test/types/string/dmk/toint/toByte_err.good
  test/types/string/dmk/toint/toByte_param_err.chpl
  test/types/string/dmk/toint/toByte_param_err.good
  test/types/string/dmk/toint/toCodeopint_err.chpl
  test/types/string/dmk/toint/toCodeopint_err.good
  test/types/string/dmk/toint/toint.chpl
  test/types/string/dmk/toint/toint.good
Labels: stat: Ready to Merge

#13558 Propagate FLAG_NO_AUTO_DESTROY in insertFormalTemps
  compiler/resolution/resolveFunction.cpp
  test/types/records/ferguson/no-auto-destroy-arg.chpl
  test/types/records/ferguson/no-auto-destroy-arg.good
Labels: stat: Ready to Merge

#13543 Add a new environment variable, CHPL_LAUNCH_MASTERIP
  doc/rst/platforms/aws.rst
  doc/rst/platforms/udp.rst
  doc/rst/usingchapel/launcher.rst
  runtime/etc/src/mli/common_code.c
  runtime/include/comm/gasnet/chpl-comm-launch.h
  runtime/src/comm/gasnet/Makefile.share
  runtime/src/comm/gasnet/comm-gasnet-launch.c
Labels: area: Runtime, stat: Ready to Merge

#13568 Add cron script for testing multilocale python interop on linux
  util/cron/test-python-modules.gasnet.bash
Labels: area: BTR, stat: Needs Code Review

#13406 Small changes in NPB MG
  test/users/npadmana/npb-mg/mg.chpl
Labels: stat: cla signed

#13529 GSoC 2019: Print LLVM IR for more than one function
  compiler/include/stringutil.h
  compiler/llvm/clangUtil.cpp
  compiler/main/driver.cpp
  compiler/util/stringutil.cpp
  test/compflags/coodie/llvmPrintIr/multi/PREDIFF
  test/compflags/coodie/llvmPrintIr/multi/llvmPrintIrMulti.chpl
  test/compflags/coodie/llvmPrintIr/multi/llvmPrintIrMulti.compopts
  test/compflags/coodie/llvmPrintIr/multi/llvmPrintIrMulti.good
  test/compflags/coodie/llvmPrintIr/multi/llvmPrintIrMulti.skipif
  test/compflags/coodie/llvmPrintIr/stages/PREDIFF
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrBasic.chpl
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrBasic.compopts
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrBasic.good
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrBasic.skipif
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrFull.chpl
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrFull.compopts
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrFull.good
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrFull.skipif
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrNone.chpl
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrNone.compopts
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrNone.good
  test/compflags/coodie/llvmPrintIr/stages/llvmPrintIrNone.skipif
Labels: stat: Needs Testing, stat: cla signed

#13420 Buffered index addition to sparse domains
  modules/internal/ChapelArray.chpl
  modules/internal/ChapelDistribution.chpl
  test/users/engin/sparse_index_buffer/deinitTest.chpl
  test/users/engin/sparse_index_buffer/deinitTest.good
  test/users/engin/sparse_index_buffer/sparseIndexBuffer.chpl
  test/users/engin/sparse_index_buffer/sparseIndexBuffer.good
  test/users/engin/sparse_index_buffer/sparseIndexBuffer.numlocales
Labels: stat: cla signed

#13418 Fix index addition to distributed CSC domains
  modules/dists/SparseBlockDist.chpl
  test/users/engin/sparse_bulk_dist/distCSCBulkAdd.chpl
  test/users/engin/sparse_bulk_dist/distCSCBulkAdd.good
  test/users/engin/sparse_bulk_dist/distCSCBulkAdd.numlocales
  test/users/engin/sparse_bulk_dist/distCSCBulkAdd.suppressif
Labels: stat: cla signed
