Repository chapel-lang/chapel, pull requests merged in 2019-11, with the labels that each got.

#14425 Fix nightly testing failures due to IO no longer being included by default
  compiler/AST/AggregateType.cpp
  modules/internal/tasktable/on/ChapelTaskTable.chpl
  modules/packages/Curl.chpl
  modules/packages/URL.chpl
  test/classes/lydia/inherit-from-not-visible.chpl
  test/classes/lydia/inherit-from-not-visible.good
  test/library/packages/BLAS/test_blas1.chpl
  test/library/packages/BLAS/test_blas2.chpl
  test/library/packages/BLAS/test_blas3.chpl
  test/library/packages/Curl/check-http.chpl
  test/library/packages/Curl/download-http-upload-ftp.chpl
  test/library/packages/Curl/upload-ftp.chpl
  test/library/packages/HDFS/hdfsNumbers.chpl
  test/library/packages/HDFS/hello-hadoop.chpl
  test/library/packages/LinearAlgebra/correctness/test_identities1.chpl
  test/release/examples/primers/FFTWlib.chpl
Labels: area: Compiler, area: Libraries / Modules, area: Tests

#14436 Make some uses in ChapelDistribution intentionally public
  modules/internal/ChapelDistribution.chpl
Labels: area: Libraries / Modules

#14434 Make the use of MemConsistency in ChapelLocks private
  modules/internal/ChapelLocks.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#14427 Make CommDiagnostics no longer included by default
  modules/internal/ChapelStandard.chpl
  modules/internal/startInitCommDiags.chpl
  modules/internal/stopInitCommDiags.chpl
  test/distributions/robust/arithmetic/performance/multilocale/alloc.chpl
  test/distributions/robust/arithmetic/performance/multilocale/alloc_all.chpl
  test/distributions/robust/arithmetic/performance/multilocale/assign.chpl
  test/distributions/robust/arithmetic/performance/multilocale/assignAlias.chpl
  test/distributions/robust/arithmetic/performance/multilocale/assignReindex.chpl
  test/distributions/robust/arithmetic/performance/multilocale/assignSlice.chpl
  test/distributions/robust/arithmetic/performance/multilocale/reduce.chpl
  test/distributions/robust/arithmetic/performance/multilocale/reduceAlias.chpl
  test/distributions/robust/arithmetic/performance/multilocale/reduceSlice.chpl
  test/distributions/robust/arithmetic/performance/multilocale/rvfSlices/helper/reduceSlicePrivate.chpl
  test/distributions/robust/arithmetic/performance/multilocale/sliceOps.chpl
  test/multilocale/deitz/needMultiLocales/dist/test_private_space.chpl
  test/multilocale/deitz/needMultiLocales/raCommCheck.chpl
  test/multilocale/deitz/needMultiLocales/streamCommCheck.chpl
  test/optimizations/bulkcomm/alberto/Block/PrintComms.chpl
  test/optimizations/bulkcomm/alberto/Cyclic/PrintComms.chpl
  test/optimizations/rafa/PrintComms.chpl
  test/types/partial/match-param.bad
Labels: area: Libraries / Modules

#14450 Remove IO enum deprecation funcs
  modules/internal/LastResortIO.chpl
  test/deprecated/io/iokindCheck.chpl
  test/deprecated/io/iokindCheck.good
  test/deprecated/io/iomodeCheck.chpl
  test/deprecated/io/iomodeCheck.good
  test/deprecated/io/iostringformatCheck.chpl
  test/deprecated/io/iostringformatCheck.good
  test/deprecated/io/iostringstyleCheck.chpl
  test/deprecated/io/iostringstyleCheck.good
  test/studies/shootout/submitted/fasta3.bad
  test/studies/shootout/submitted/fasta4.bad
  test/studies/shootout/submitted/revcomp.bad
  test/studies/shootout/submitted/revcomp2.bad
Labels: area: Libraries / Modules, stat: Needs Testing

#14481 Simplify visible function determination of use visibility
  compiler/include/UseStmt.h
  compiler/passes/scopeResolve.cpp
  compiler/resolution/ResolutionCandidate.cpp
  compiler/resolution/visibleFunctions.cpp
Labels: area: Compiler, stat: Needs Code Review

#14491 Fix a test that needed an update after Vass's #14486
  test/functions/jplevyak/zeroarity-bound-error-1.good
Labels: area: Tests

#14492 Only check visibility once per scope instead of once per private function
  compiler/resolution/visibleFunctions.cpp
Labels: area: Compiler, stat: Needs Code Review

#14526 Add in some missing HDF5 defines
  modules/packages/HDF5.chpl
Labels: stat: cla signed

#14490 DistributedFFT performance test
  test/npb/ft/npadmana/DistributedFFT.chpl
  test/npb/ft/npadmana/DistributedFFT.notest
  test/npb/ft/npadmana/README.md
  test/npb/ft/npadmana/ft_transposed.chpl
  test/npb/ft/npadmana/ft_transposed.compopts
  test/npb/ft/npadmana/ft_transposed.execopts
  test/npb/ft/npadmana/ft_transposed.good
  test/npb/ft/npadmana/ft_transposed.numlocales
  test/npb/ft/npadmana/ft_transposed.prediff
  test/npb/ft/npadmana/ft_transposed.skipif
Labels: stat: cla signed

#14519 Add a cache for determining if an actual type is coercible in function resolution
  compiler/include/ResolutionCandidate.h
  compiler/resolution/ResolutionCandidate.cpp
  compiler/resolution/functionResolution.cpp
Labels: area: Compiler, stat: Needs Code Review
