Repository chapel-lang/chapel, pull requests merged in 2020-11, with the labels that each got.

#16636 Remove PWD dependency in Mason
  test/mason/build/noDeps.chpl
  test/mason/init/masonInteractive.good
  test/mason/mason-doc/docPkg.chpl
  test/mason/mason-modify/.gitignore
  test/mason/mason-modify/CLEANFILES
  test/mason/mason-modify/SKIPIF
  test/mason/mason-modify/masonModifyTest.chpl
  test/mason/mason-modify/masonModifyTest.skipif
  test/mason/mason-modify/tmp.notest
  test/mason/masonNewTest.chpl
  test/mason/new/masonInteractive.good
  test/mason/publish/publishGitCheck.chpl
  tools/mason/MasonBuild.chpl
  tools/mason/MasonDoc.chpl
  tools/mason/MasonExample.chpl
  tools/mason/MasonInit.chpl
  tools/mason/MasonModify.chpl
  tools/mason/MasonNew.chpl
  tools/mason/MasonRun.chpl
  tools/mason/MasonTest.chpl
  tools/mason/MasonUpdate.chpl
  tools/mason/mason.chpl
Labels: stat: Ready to Merge

#16577 Remove warning for defining initializer outside of the type's module
  compiler/AST/AggregateType.cpp
  test/classes/initializers/secondary/inDiffModule.good
  test/classes/initializers/secondary/inDiffModule2.chpl
  test/classes/initializers/secondary/inDiffModule2.future
  test/classes/initializers/secondary/inDiffModule2.good
  test/classes/initializers/secondary/inDiffModule3.good
  test/classes/initializers/secondary/inDiffModuleBothSecondaryAndPrimary.good
  test/classes/initializers/secondary/inDiffModuleBothSecondaryAndPrimary2.good
  test/functions/generic/poi/check-gc-reuse-opers.good
Labels: area: Compiler, area: Tests, stat: Ready to Merge

#16565 Remove deprecated Regexp features
  modules/standard/Regexp.chpl
  test/deprecated/regexCompile.chpl
  test/deprecated/regexCompile.good
  test/deprecated/regexCompile.skipif
  test/deprecated/regexpListEltType.chpl
  test/deprecated/regexpListEltType.good
  test/deprecated/regexpListEltType.skipif
  test/deprecated/regexpType.chpl
  test/deprecated/regexpType.good
  test/deprecated/regexpType.skipif
Labels: post-release

#16646 Update chpldoc dependencies to later versions
  doc/rst/conf.py
  third-party/chpl-venv/chpldoc-requirements.txt
Labels: area: Docs, area: Third-Party, stat: Needs Code Review

#16648 Update start_test Python package dependencies
  third-party/chpl-venv/test-requirements.txt
Labels: area: Tests, area: Third-Party, stat: Needs Code Review, stat: Needs Testing

#16674 Revert "Remove generated man pages on clean/cleanall/clobber"
  Makefile
  man/Makefile
Labels: area: Makefiles

#16678 Add module list commands to arkouda cray-cs and cray-xc jobs
  util/cron/test-perf.cray-cs.arkouda.bash
  util/cron/test-perf.cray-cs.arkouda.release.bash
  util/cron/test-perf.cray-xc.arkouda.bash
  util/cron/test-perf.cray-xc.arkouda.release.bash
Labels: area: BTR, stat: Needs Code Review

#16683 Remove the Chapel sphinx domain snapshot
  third-party/chpl-venv/sphinxcontrib-chapeldomain/.gitignore
  third-party/chpl-venv/sphinxcontrib-chapeldomain/.travis.yml
  third-party/chpl-venv/sphinxcontrib-chapeldomain/LICENSE
  third-party/chpl-venv/sphinxcontrib-chapeldomain/MANIFEST.in
  third-party/chpl-venv/sphinxcontrib-chapeldomain/README.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/BitOps.chpl
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/BitOps.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/Containers.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/Makefile
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/Vector.chpl
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/Vector.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/_static/empty
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/classes.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/conf.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/cpp_test.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/foo.bar.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/foo.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/functions.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/index.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/make.bat
  third-party/chpl-venv/sphinxcontrib-chapeldomain/doc-test/requirements.txt
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs-requirements.txt
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/Makefile
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/_static/empty
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/conf.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/developers.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/index.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/make.bat
  third-party/chpl-venv/sphinxcontrib-chapeldomain/docs/reference.rst
  third-party/chpl-venv/sphinxcontrib-chapeldomain/requirements.txt
  third-party/chpl-venv/sphinxcontrib-chapeldomain/setup.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/sphinxcontrib/__init__.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/sphinxcontrib/chapeldomain/__init__.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/test-requirements.txt
  third-party/chpl-venv/sphinxcontrib-chapeldomain/test/test_chapeldomain.py
  third-party/chpl-venv/sphinxcontrib-chapeldomain/tox.ini
  third-party/chpl-venv/sphinxcontrib-chapeldomain/util/release.bash
Labels: area: Third-Party

#16717 Fix bug with not finding symbol imported in generic function
  compiler/AST/ImportStmt.cpp
  test/visibility/import/enablesUnqualified/callInGeneric.chpl
  test/visibility/import/enablesUnqualified/callInGeneric.good
  test/visibility/import/enablesUnqualified/callInGeneric2.chpl
  test/visibility/import/enablesUnqualified/callInGeneric2.good
  test/visibility/import/enablesUnqualified/varInGeneric.chpl
  test/visibility/import/enablesUnqualified/varInGeneric.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#16712 Respect privacy and limitations of use and import statements when resolving methods
  compiler/resolution/visibleFunctions.cpp
  modules/dists/BlockDist.chpl
  modules/dists/StencilDist.chpl
  modules/packages/TOML.chpl
  test/distributions/ferguson/dist-assoc-bulkadd.bad
  test/functions/generic/poi/fieldDifferentModInheritanceDeeper.chpl
  test/functions/generic/poi/fieldDifferentModInheritanceDeeper.good
  test/visibility/empty/qualified-diffModule-emptyUseSecondary-except.chpl
  test/visibility/empty/qualified-diffModule-emptyUseSecondary-except.good
  test/visibility/empty/qualified-diffModule-emptyUseSecondary.chpl
  test/visibility/empty/qualified-diffModule-emptyUseSecondary.good
  test/visibility/empty/qualified-diffModule-except.chpl
  test/visibility/empty/qualified-diffModule-okay-except.good
  test/visibility/empty/qualified-diffModule-okay.good
  test/visibility/only/canSeeSecondaryMethod2.bad
  test/visibility/only/canSeeSecondaryMethod2.future
  test/visibility/private/uses/accessSecondary.chpl
  test/visibility/private/uses/accessSecondary.good
Labels: area: Compiler, area: Libraries / Modules, area: Tests, stat: Needs Code Review

#16753 Fix issue with numa test after returning to respecting private uses and imports
  modules/internal/ChapelDebugPrint.chpl
  modules/internal/ChapelIOStringifyHelper.chpl
  modules/internal/ChapelRange.chpl
  modules/standard/IO.chpl
  test/compflags/ferguson/print-module-resolution.good
  test/modules/sungeun/init/printModuleInitOrder.good
  test/modules/sungeun/init/printModuleInitOrder.na-none.good
Labels: area: Libraries / Modules, stat: Needs Code Review

#16709 Fix typo in Map.chpl
  modules/standard/Map.chpl
Labels: stat: cla signed
