Repository chapel-lang/chapel, pull requests merged in 2020-08, with the labels that each got.

#16181 Fix a bug with accidentally matching to symbols in scope for a module call
  compiler/passes/scopeResolve.cpp
  test/visibility/import/edgeCases/qualInitsSameName.bad
  test/visibility/import/edgeCases/qualInitsSameName.future
  test/visibility/qualInitsSameName.bad
  test/visibility/qualInitsSameName.future
Labels: area: Compiler, area: Tests, stat: Ready to Merge

#16129 Replace segfault when using qualified access to make a fcf with error message
  compiler/passes/scopeResolve.cpp
  test/functions/resolution/parenless-call-segfault.bad
  test/functions/resolution/parenless-call-segfault.chpl
  test/functions/resolution/parenless-call-segfault.future
  test/functions/resolution/parenless-call-segfault.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#16182 mason build: skip registry update
  test/mason/chplVersion/tomls/fail/depWantsLaterUnbounded.good
  test/mason/chplVersion/tomls/fail/failMultipleDeps.good
  test/mason/chplVersion/tomls/fail/ivrsTwo.good
  test/mason/chplVersion/tomls/fail/rangeFailBug.good
  test/mason/chplVersion/tomls/fail/rangeFailMajor.good
  test/mason/chplVersion/tomls/fail/rangeFailMinor.good
  test/mason/chplVersion/tomls/format/badFormatNum.good
  test/mason/chplVersion/tomls/format/badRangeFormat.good
  test/mason/chplVersion/tomls/format/badRangeOrder.good
  test/mason/chplVersion/tomls/format/badVersion.good
  test/mason/chplVersion/tomls/format/missingField.good
  test/mason/chplVersion/tomls/format/noBug.good
  test/mason/chplVersion/tomls/format/unbounded.good
  test/mason/chplVersion/tomls/format/unboundedLower.good
  test/mason/chplVersion/tomls/format/unboundedUpper.good
  test/mason/chplVersion/tomls/pass/ivrsChooses.good
  test/mason/chplVersion/tomls/pass/simpleDep.good
  test/mason/chplVersion/tomls/pass/simpleSolo.good
  test/mason/mason-example-with-opts/mason-example.good
  test/mason/mason-example/mason-example.good
  test/mason/mason-external/libtomlc99/mason-external.good
  test/mason/mason-external/masonExternalRanges/.gitignore
  test/mason/mason-external/masonExternalRanges/Mason.toml
  test/mason/mason-external/masonExternalRanges/src/masonExternalRanges.chpl
  test/mason/mason-test/mason-test.good
  test/mason/masonTestSome/mason-test-some.good
  test/mason/masonTestSubString/mason-test-sub-string.good
  test/mason/noDep.good
  test/mason/run/mason-run.good
  test/mason/simple.good
  test/mason/subdir-commands/mason-run.good
  tools/mason/MasonUpdate.chpl
Labels: gsoc: mason, stat: cla signed

#16153 Shift registry check to --dry-run
  test/mason/publish-tests/PREDIFF
  test/mason/publish-tests/dryTest.future
  test/mason/publish-tests/noFork.good
  tools/mason/MasonEnv.chpl
  tools/mason/MasonPublish.chpl
Labels: gsoc: mason, stat: cla signed

#16214 mason update: fixed registry check
  test/mason/chplVersion/tomls/fail/depWantsLaterUnbounded.good
  test/mason/chplVersion/tomls/fail/failMultipleDeps.good
  test/mason/chplVersion/tomls/fail/ivrsTwo.good
  test/mason/chplVersion/tomls/pass/ivrsChooses.good
  test/mason/chplVersion/tomls/pass/simpleDep.good
  test/mason/mason-example-with-opts/mason-example.good
  test/mason/mason-example/mason-example.good
  test/mason/mason-test/mason-test.good
  test/mason/pkgconfig-tests/openssl.good
  test/mason/pkgconfig-tests/zlib.good
  test/mason/simple.good
  tools/mason/MasonUpdate.chpl
Labels: gsoc: mason, stat: cla signed

#15997 Add module Heap
  .vscode/settings.json
  modules/Makefile
  modules/standard/Heap.chpl
  test/library/standard/Heap/assignment/heapAssignment.chpl
  test/library/standard/Heap/assignment/heapAssignment.good
  test/library/standard/Heap/consume/heapConsume.chpl
  test/library/standard/Heap/consume/heapConsume.good
  test/library/standard/Heap/createHeap/createHeapFromArray.chpl
  test/library/standard/Heap/createHeap/createHeapFromArray.good
  test/library/standard/Heap/createHeap/createHeapFromList.chpl
  test/library/standard/Heap/createHeap/createHeapFromList.good
  test/library/standard/Heap/isEmpty/heapIsEmpty.chpl
  test/library/standard/Heap/isEmpty/heapIsEmpty.good
  test/library/standard/Heap/push/heapPush.chpl
  test/library/standard/Heap/push/heapPush.good
  test/library/standard/Heap/size/heapSize.chpl
  test/library/standard/Heap/size/heapSize.good
  test/library/standard/Heap/toArray/heapToArray.chpl
  test/library/standard/Heap/toArray/heapToArray.good
  test/library/standard/Heap/type/HeapTest.chpl
  test/library/standard/Heap/type/HeapTest.notest
  test/library/standard/Heap/type/testBorrowed.chpl
  test/library/standard/Heap/type/testBorrowed.good
  test/library/standard/Heap/type/testNilableBorrowed.chpl
  test/library/standard/Heap/type/testNilableBorrowed.good
  test/library/standard/Heap/type/testNilableOwned.chpl
  test/library/standard/Heap/type/testNilableOwned.good
  test/library/standard/Heap/type/testNilableShared.chpl
  test/library/standard/Heap/type/testNilableShared.good
  test/library/standard/Heap/type/testNilableTuple.chpl
  test/library/standard/Heap/type/testNilableTuple.good
  test/library/standard/Heap/type/testNilableUnmanaged.chpl
  test/library/standard/Heap/type/testNilableUnmanaged.good
  test/library/standard/Heap/type/testOwned.chpl
  test/library/standard/Heap/type/testOwned.good
  test/library/standard/Heap/type/testRecord.chpl
  test/library/standard/Heap/type/testRecord.good
  test/library/standard/Heap/type/testShared.chpl
  test/library/standard/Heap/type/testShared.good
  test/library/standard/Heap/type/testTuple.chpl
  test/library/standard/Heap/type/testTuple.good
  test/library/standard/Heap/type/testTuple2.chpl
  test/library/standard/Heap/type/testTuple2.good
  test/library/standard/Heap/type/testTuple3.chpl
  test/library/standard/Heap/type/testTuple3.good
  test/library/standard/Heap/type/testUnmanaged.chpl
  test/library/standard/Heap/type/testUnmanaged.good
Labels: gsoc: datastructures, stat: cla signed

#16035 mason bash completion script
  util/devel/mason-completion.bash
Labels: gsoc: mason, stat: Ready to Merge, stat: cla signed

#15976 Loop tiled matrix multiplication
  modules/packages/LinearAlgebra.chpl
Labels: gsoc: linearalgebra, stat: Ready to Merge, stat: cla signed

#16106 Distributed linear algebra error
  modules/packages/LinearAlgebra.chpl
Labels: gsoc: linearalgebra, stat: cla signed

#16252 Add tests locking in behavior of "disabling qualified access" for use of an enum
  test/visibility/use-no-qualified/withEnum.chpl
  test/visibility/use-no-qualified/withEnum.good
  test/visibility/use-no-qualified/withEnum2.chpl
  test/visibility/use-no-qualified/withEnum2.good
Labels: area: Tests, stat: Ready to Merge

#16041 Add const checking for elements of tuple formals
  compiler/include/resolveIntents.h
  compiler/passes/resolveIntents.cpp
  compiler/resolution/cullOverReferences.cpp
  compiler/resolution/lateConstCheck.cpp
  modules/standard/IO.chpl
  test/types/tuple/const/tupleBlankFormalConstArg.bad
  test/types/tuple/const/tupleBlankFormalConstArg.chpl
  test/types/tuple/const/tupleBlankFormalConstArg.future
  test/types/tuple/const/tupleBlankFormalConstArg.good
  test/types/tuple/const/tupleModifyBlankArgArrElem.chpl
  test/types/tuple/const/tupleModifyBlankArgArrElem.good
  test/types/tuple/const/tupleModifyBlankArgElem.chpl
  test/types/tuple/const/tupleModifyBlankArgElem.good
  test/types/tuple/const/tupleModifyConstArgElem.chpl
  test/types/tuple/const/tupleModifyConstArgElem.good
  test/types/tuple/dinan/pining_for_lisp.chpl
  test/types/tuple/dinan/pining_for_lisp_ver2.chpl
Labels: area: Compiler

#16160 Change local diag to support domains with non-uniform dimensions
  modules/packages/LinearAlgebra.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/correctness.chpl
Labels: gsoc: linearalgebra, stat: cla signed

#16306 added skipif for create registry test
  test/mason/publish/create-registry/SKIPIF
Labels: stat: cla signed

#16304 Track places where a symbol was reexported for better error message on conflict
  compiler/include/ResolveScope.h
  compiler/include/scopeResolve.h
  compiler/passes/ResolveScope.cpp
  compiler/passes/scopeResolve.cpp
  test/visibility/import/edgeCases/multipleDef-multipleReexport.chpl
  test/visibility/import/edgeCases/multipleDef-multipleReexport.good
  test/visibility/import/edgeCases/multipleDef.good
  test/visibility/import/edgeCases/multipleDef2.good
  test/visibility/import/edgeCases/multipleDef3.good
  test/visibility/import/public/rename/multipleDefRenameError.good
Labels: area: Compiler, area: Tests, stat: Ready to Merge
