Repository chapel-lang/chapel, pull requests merged in 2020-07, with the labels that each got.

#15924 Add License field to manifest file
  doc/rst/tools/mason/mason.rst
  test/mason/chplVersion/mason-chpl-version-new.good
  test/mason/init/masonInteractive.good
  test/mason/init/masonInteractive.stdin
  test/mason/init/project/Mason.toml
  test/mason/new/masonInteractive.good
  test/mason/new/masonInteractive.stdin
  test/mason/new/project/Mason.toml
  tools/mason/MasonInit.chpl
  tools/mason/MasonNew.chpl
  tools/mason/MasonPublish.chpl
Labels: gsoc: mason, stat: cla signed

#15989 Add missing uses of parent modules for package submodules
  modules/packages/LinearAlgebra.chpl
  modules/packages/Sort.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/correctness-Sparse-import.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/correctness-Sparse-import.good
  test/library/packages/Sort/correctness/sorty-import.chpl
  test/library/packages/Sort/correctness/sorty-import.execopts
  test/library/packages/Sort/correctness/sorty-import.good
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#16028 Update mason w.r.t. Spack master branch changes
  test/mason/mason-external/libtomlc99.notest
  tools/mason/MasonExternal.chpl
Labels: stat: cla signed

#16029 Fix mason external install wrt spack master branch changes
  test/mason/mason-external/libtomlc99.notest
  tools/mason/MasonExternal.chpl
Labels: stat: cla signed

#16021 Fix issue with reexporting subsymbols from a separate file
  compiler/AST/ImportStmt.cpp
  compiler/AST/UseStmt.cpp
  compiler/include/ResolveScope.h
  compiler/passes/ResolveScope.cpp
  compiler/passes/scopeResolve.cpp
  test/modules/paths/checkReexportedNested.chpl
  test/modules/paths/checkReexportedNested.compopts
  test/modules/paths/checkReexportedNested.good
  test/modules/paths/reexportNested.notest
  test/modules/paths/reexportNested/ChapelNumLocales.chpl
  test/modules/paths/reexportNested/Other.chpl
  test/modules/paths/reexportNested/ThirdMod.chpl
  test/visibility/import/public/checkSeparateFile.chpl
  test/visibility/import/public/checkSeparateFile.compopts
  test/visibility/import/public/checkSeparateFile.good
  test/visibility/import/public/separateFile.chpl
  test/visibility/import/public/separateFile.good
  test/visibility/import/public/separateFile2.chpl
  test/visibility/import/public/separateFile2.compopts
  test/visibility/import/public/separateFile2.good
  test/visibility/import/public/separateFileSrc.chpl
  test/visibility/import/public/separateFileSrc.notest
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#15970 New checks for mason publish --ci-check
  tools/mason/MasonPublish.chpl
Labels: gsoc: mason, stat: cla signed

#15835 Alternate implementation of Intel PRK DGEMM
  test/ML-GRAPHFILES
  test/studies/prk/DGEMM/SUMMA/dgemm.chpl
  test/studies/prk/DGEMM/SUMMA/dgemm.compopts
  test/studies/prk/DGEMM/SUMMA/dgemm.execopts
  test/studies/prk/DGEMM/SUMMA/dgemm.good
  test/studies/prk/DGEMM/SUMMA/dgemm.ml-compopts
  test/studies/prk/DGEMM/SUMMA/dgemm.ml-execenv
  test/studies/prk/DGEMM/SUMMA/dgemm.ml-execopts
  test/studies/prk/DGEMM/SUMMA/dgemm.ml-numlocales
  test/studies/prk/DGEMM/SUMMA/dgemmBLAS.ml-keys
  test/studies/prk/DGEMM/SUMMA/dgemmNative.ml-keys
  test/studies/prk/DGEMM/SUMMA/summa.ml-time.graph
Labels: gsoc: linearalgebra, stat: cla signed

#16005 Remove redundant control flow in transpose
  modules/packages/LinearAlgebra.chpl
Labels: stat: Ready to Merge, stat: cla signed

#15087 Allows substring matching with 'mason test' inside mason package
  doc/rst/tools/mason/mason.rst
  test/mason/masonTestSubString/.gitignore
  test/mason/masonTestSubString/COMPOPTS
  test/mason/masonTestSubString/EXECENV
  test/mason/masonTestSubString/Mason.toml
  test/mason/masonTestSubString/SKIPIF
  test/mason/masonTestSubString/mason-test-sub-string.chpl
  test/mason/masonTestSubString/mason-test-sub-string.good
  test/mason/masonTestSubString/mason-test-sub-string.prediff
  test/mason/masonTestSubString/src/NOTEST
  test/mason/masonTestSubString/src/masonTestSubString.chpl
  test/mason/masonTestSubString/test/NOTEST
  test/mason/masonTestSubString/test/test1.chpl
  test/mason/masonTestSubString/test/test2.chpl
  test/mason/masonTestSubString/test/testDir/NOTEST
  test/mason/masonTestSubString/test/testDir/test3.chpl
  tools/mason/MasonTest.chpl
Labels: stat: cla signed

#16091 Toml parser: improved parsing of table headers
  modules/packages/TOML.chpl
  test/library/packages/TOML/test/quoteTable.chpl
  test/library/packages/TOML/test/quoteTable.good
Labels: gsoc: mason, stat: cla signed

#16112 Require use of parent module when resolving uses and imports of sibling modules
  compiler/passes/ResolveScope.cpp
  modules/internal/CPtr.chpl
  modules/internal/ChapelLocale.chpl
  modules/packages/Sort.chpl
  modules/packages/TOML.chpl
  modules/standard/FileSystem.chpl
  modules/standard/Random.chpl
  test/functions/deitz/test_resolve_best_shadowed2.chpl
  test/functions/jturner/fun_as_value_crossmodule.chpl
  test/library/packages/TOML/test/checkParseLoop.chpl
  test/library/packages/TOML/test/checkParseLoop.good
  test/modules/deitz/test_module_access2.chpl
  test/modules/vass/use-depth.chpl
  test/types/records/bharshbarger/nestedRecordInClass1.chpl
  test/types/records/bharshbarger/nestedRecordInClass2.chpl
  test/visibility/empty/exceptEverything.chpl
  test/visibility/empty/exceptEverythingField.chpl
  test/visibility/empty/onlyNothing.chpl
  test/visibility/empty/onlyNothingField.chpl
  test/visibility/empty/qualifiedTypeAccess-except.chpl
  test/visibility/empty/qualifiedTypeAccess.chpl
  test/visibility/private/moduleSymbols/accessPrivateUsedNephew.chpl
  test/visibility/private/moduleSymbols/accessPrivateUsedNephew2.chpl
  test/visibility/private/moduleSymbols/accessPrivateUsedNephew3.chpl
  test/visibility/private/moduleSymbols/siblingSubmodule.chpl
  test/visibility/private/uses/weirdEnumHiding.chpl
Labels: area: Compiler, area: Libraries / Modules, area: Tests, stat: Needs Code Review

#16098 mason : consistent kwarg parsing
  doc/rst/tools/mason/mason.rst
  tools/mason/MasonBuild.chpl
  tools/mason/MasonExample.chpl
  tools/mason/MasonRun.chpl
  tools/mason/MasonTest.chpl
Labels: gsoc: mason, stat: cla signed

#16078 Refactor mason update
  tools/mason/MasonHelp.chpl
  tools/mason/MasonUpdate.chpl
  tools/mason/mason.chpl
Labels: gsoc: mason, stat: cla signed

#16077 LinearAlgebra.dot() test for nightly performance graphs
  test/GRAPHFILES
  test/library/packages/LinearAlgebra/performance/dot-perf-BLAS.perfkeys
  test/library/packages/LinearAlgebra/performance/dot-perf-native.perfkeys
  test/library/packages/LinearAlgebra/performance/dot-perf.chpl
  test/library/packages/LinearAlgebra/performance/dot-perf.compopts
  test/library/packages/LinearAlgebra/performance/dot-perf.execopts
  test/library/packages/LinearAlgebra/performance/dot-perf.graph
  test/library/packages/LinearAlgebra/performance/dot-perf.notest
  test/library/packages/LinearAlgebra/performance/dot-perf.perfcompopts
  test/library/packages/LinearAlgebra/performance/dot-perf.perfexecopts
  test/library/packages/LinearAlgebra/performance/dot-perf.perfkeys
Labels: gsoc: linearalgebra, stat: cla signed
