Repository chapel-lang/chapel, pull requests merged in 2021-04, with the labels that each got.

#17490 Fixed a small typo in C-interoperability docs
  test/extern/ferguson/externblock/readme_examples2.chpl
Labels: area: Tests, stat: Ready to Merge

#17530 Revert "Move resolveSpecifiedReturnType()"
  compiler/resolution/ResolutionCandidate.cpp
Labels: area: Compiler, stat: Needs Code Review

#17543 Update the LAPACK helper file to use operator methods and the operator keyword
  test/library/packages/LAPACK/TestHelpers.chpl
Labels: area: Tests

#17544 Fix multiloc runs for the operator keyword
  modules/packages/AtomicObjects.chpl
  test/library/standard/Set/setCommTest.chpl
  test/optimizations/bulkcomm/bharshbarg/remote.good.orig
  test/optimizations/sungeun/bulk_transfer/assignMultiloc.good
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#17551 At Brad's suggestion, transform these operators on iterators into methods
  modules/internal/ChapelIteratorSupport.chpl
Labels: area: Libraries / Modules, stat: Ready to Merge

#17565 Extend fix for initializer bug with operator methods to also fix the cast operator
  compiler/AST/symbol.cpp
  modules/standard/Map.chpl
  modules/standard/Set.chpl
Labels: area: Compiler, area: Libraries / Modules, stat: Needs Code Review

#17581 Fix bug with isSubtype and equally generic child/parent types
  compiler/include/resolution.h
  compiler/resolution/ResolutionCandidate.cpp
  compiler/resolution/functionResolution.cpp
  test/classes/generic/genericChildIsNotSubtype.chpl
  test/classes/generic/genericChildIsNotSubtype.good
  test/classes/generic/genericChildIsSubtype.chpl
  test/classes/generic/genericChildIsSubtype.good
  test/types/partial/partialIsSubtype.chpl
  test/types/partial/partialIsSubtype.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review
