Repository chapel-lang/chapel, pull requests merged in 2021-02, with the labels that each got.

#17043 Replace line referencing "QUICKSTART.rst" with a more general message
  doc/rst/usingchapel/QUICKSTART.rst
Labels: area: Docs, stat: Needs Code Review, user issue

#17056 Repair and retire chpldoc futures privateClasses, privateTypeAlias
  test/chpldoc/nodoc/privateClasses.doc.bad
  test/chpldoc/nodoc/privateClasses.doc.catfiles
  test/chpldoc/nodoc/privateClasses.doc.future
  test/chpldoc/nodoc/privateClasses.doc.good
  test/chpldoc/nodoc/privateTypeAlias.doc.bad
  test/chpldoc/nodoc/privateTypeAlias.doc.catfiles
  test/chpldoc/nodoc/privateTypeAlias.doc.future
  test/chpldoc/nodoc/privateTypeAlias.doc.good
Labels: stat: Ready to Merge

#17103 Initial operator changes implementation
  compiler/AST/AggregateType.cpp
  compiler/AST/build.cpp
  compiler/include/bison-chapel.h
  compiler/include/build.h
  compiler/include/flags_list.h
  compiler/include/flex-chapel.h
  compiler/parser/bison-chapel.cpp
  compiler/parser/chapel.lex
  compiler/parser/chapel.ypp
  compiler/parser/flex-chapel.cpp
  compiler/passes/checkParsed.cpp
  compiler/passes/normalize.cpp
  compiler/resolution/ResolutionCandidate.cpp
  compiler/resolution/functionResolution.cpp
  compiler/resolution/wrappers.cpp
  test/classes/figueroa/ErroneousOpOverloading1.chpl
  test/classes/figueroa/ErroneousOpOverloading1.good
  test/classes/figueroa/ErroneousOpOverloading2.chpl
  test/classes/figueroa/ErroneousOpOverloading2.good
  test/classes/hilde/methodAssignment.bad
  test/classes/hilde/methodAssignment.chpl
  test/classes/hilde/methodAssignment.future
  test/classes/hilde/methodAssignment.good
  test/functions/operatorOverloads/operatorMethods/definedOnClass.chpl
  test/functions/operatorOverloads/operatorMethods/definedOnClass.good
  test/functions/operatorOverloads/operatorMethods/generics.chpl
  test/functions/operatorOverloads/operatorMethods/generics.good
  test/functions/operatorOverloads/operatorMethods/genericsInstantiationBad.chpl
  test/functions/operatorOverloads/operatorMethods/genericsInstantiationBad.good
  test/functions/operatorOverloads/operatorMethods/genericsInstantiationGood.chpl
  test/functions/operatorOverloads/operatorMethods/genericsInstantiationGood.good
  test/functions/operatorOverloads/operatorMethods/inheritance.bad
  test/functions/operatorOverloads/operatorMethods/inheritance.chpl
  test/functions/operatorOverloads/operatorMethods/inheritance.future
  test/functions/operatorOverloads/operatorMethods/inheritance.good
  test/functions/operatorOverloads/operatorMethods/methodConflict.chpl
  test/functions/operatorOverloads/operatorMethods/methodConflict.good
  test/functions/operatorOverloads/operatorMethods/methodOnSecondArgType.chpl
  test/functions/operatorOverloads/operatorMethods/methodOnSecondArgType.good
  test/functions/operatorOverloads/operatorMethods/primaryMethod.chpl
  test/functions/operatorOverloads/operatorMethods/primaryMethod.good
  test/functions/operatorOverloads/operatorMethods/secondaryMethod.chpl
  test/functions/operatorOverloads/operatorMethods/secondaryMethod.good
  test/functions/operatorOverloads/operatorMethods/standaloneConflict.chpl
  test/functions/operatorOverloads/operatorMethods/standaloneConflict.good
  test/functions/operatorOverloads/operatorMethods/standaloneDiffArgs.chpl
  test/functions/operatorOverloads/operatorMethods/standaloneDiffArgs.good
  test/functions/operatorOverloads/operatorMethods/standaloneDiffOp.chpl
  test/functions/operatorOverloads/operatorMethods/standaloneDiffOp.good
  test/functions/operatorOverloads/operatorMethods/tertiaryMethod.chpl
  test/functions/operatorOverloads/operatorMethods/tertiaryMethod.good
  test/functions/operatorOverloads/withKeyword.chpl
  test/functions/operatorOverloads/withKeyword.good
Labels: area: Compiler, area: Language, area: Tests, stat: Ready to Merge

#17158 Add test tracking the assignment operator issue with explicit initializers
  test/functions/operatorOverloads/operatorMethods/assignmentOpMethod.bad
  test/functions/operatorOverloads/operatorMethods/assignmentOpMethod.chpl
  test/functions/operatorOverloads/operatorMethods/assignmentOpMethod.future
  test/functions/operatorOverloads/operatorMethods/assignmentOpMethod.good
Labels: area: Tests, stat: Ready to Merge

#17189 Remove regexp.ok and regexp.error() methods as obsolete with exceptions
  modules/standard/Regexp.chpl
Labels: area: Libraries / Modules, type: Design

#17191 Replace dotnl with dotAll, remove default from inline docs
  modules/standard/Regexp.chpl
  test/deprecated/dotnl.chpl
  test/deprecated/dotnl.good
Labels: area: Libraries / Modules, type: Design

#17193 Use C++11 thread_local instead of pthreads for thread-local regexp cache
  runtime/src/qio/regexp/re2/re2-interface.cc
Labels: area: Runtime, type: Refactor

#17209 Refactor regexp methods to avoid code duplication
  modules/standard/Regexp.chpl
Labels: area: Libraries / Modules, type: Refactor

#17249 Fix bug with operator call and mismatched `this` arg
  compiler/resolution/ResolutionCandidate.cpp
  test/functions/operatorOverloads/operatorMethods/callOtherMethod.chpl
  test/functions/operatorOverloads/operatorMethods/callOtherMethod.good
Labels: area: Compiler, area: Tests, stat: Needs Testing

#17251 Update preFold's handling of == and != to adjust for when they are method calls
  compiler/resolution/preFold.cpp
  test/functions/operatorOverloads/operatorMethods/calledOnTypeArgs.chpl
  test/functions/operatorOverloads/operatorMethods/calledOnTypeArgs.good
  test/functions/operatorOverloads/operatorMethods/calledOnTypeArgs2.chpl
  test/functions/operatorOverloads/operatorMethods/calledOnTypeArgs2.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#17243 Fix lifetime constraints computation when type has operator methods
  compiler/passes/scopeResolve.cpp
  test/functions/operatorOverloads/operatorMethods/lifetimeOnMethod.chpl
  test/functions/operatorOverloads/operatorMethods/lifetimeOnMethod.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review
