Repository chapel-lang/chapel, pull requests merged in 2021-08, with the labels that each got.

#18139 Deprecate bigint.powm in favor of bigint.powMod and document the latter
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecatePowm.chpl
  test/deprecated/BigInteger/deprecatePowm.good
  test/library/standard/GMP/ldelaney/gmp_Bigint_powers_roots.chpl
Labels: area: Libraries / Modules, area: Tests, stat: Ready to Merge

#18170 Make compiler generated operators into operator methods and fix a resolution bug
  compiler/passes/buildDefaultFunctions.cpp
  compiler/resolution/ResolutionCandidate.cpp
  compiler/resolution/functionResolution.cpp
  compiler/resolution/resolveFunction.cpp
  test/classes/hilde/methodAssignment.chpl
  test/functions/lydia/badCandidateButElim.chpl
  test/functions/lydia/badCandidateButElim.good
  test/functions/lydia/goodCandidateButElim.chpl
  test/functions/lydia/goodCandidateButElim.good
  test/functions/operatorOverloads/operatorMethods/allOps/assignment.chpl
  test/functions/operatorOverloads/operatorMethods/assignmentOpMethod.chpl
  test/functions/operatorOverloads/operatorMethods/diffMod.chpl
  test/functions/operatorOverloads/operatorMethods/diffMod.good
  test/functions/operatorOverloads/operatorMethods/genericsInstantiationBad.good
  test/types/partial/match-param.bad
  test/types/records/ferguson/default-compare-mixed-insn.1.good
  test/types/records/ferguson/default-compare-mixed-insn.2.good
  test/types/records/ferguson/default-compare-mixed-insn.5.good
  test/types/records/ferguson/default-compare-mixed-insn.6.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#18165 Fix typos
  compiler/codegen/cg-expr.cpp
  compiler/main/driver.cpp
  compiler/parser/parser.cpp
  compiler/resolution/wrappers.cpp
  compiler/util/stringutil.cpp
  doc/rst/developer/bestPractices/StandardModuleStyle.rst
  doc/rst/developer/implementation/Interfaces.md
  modules/standard/BigInteger.chpl
  modules/standard/DateTime.chpl
  modules/standard/Path.chpl
  runtime/src/comm/ofi/comm-ofi.c
  runtime/src/qio/sys.c
  test/deprecated/strptime.good
Labels: area: Compiler, area: Runtime, area: Libraries / Modules, area: Docs, area: Tests, stat: Needs Testing

#18094 Adding working ArrowDemo
  test/library/draft/arrow/.gitignore
  test/library/draft/arrow/ArrayDecl.chpl
  test/library/draft/arrow/ArrayDecl.notest
  test/library/draft/arrow/Arrow.chpl
  test/library/draft/arrow/Arrow.notest
  test/library/draft/arrow/ArrowDecl.chpl
  test/library/draft/arrow/ArrowDecl.notest
  test/library/draft/arrow/ArrowDemo.chpl
  test/library/draft/arrow/ArrowDemo.compopts
  test/library/draft/arrow/ArrowDemo.good
  test/library/draft/arrow/ArrowDemo.notest
  test/library/draft/arrow/ArrowDemo.skipif
  test/library/draft/arrow/ArrowIODecl.chpl
  test/library/draft/arrow/ArrowIODecl.notest
  test/library/draft/arrow/ArrowParquet.chpl
  test/library/draft/arrow/ArrowParquet.notest
  test/library/draft/arrow/ArrowPrinting.chpl
  test/library/draft/arrow/ArrowPrinting.notest
  test/library/draft/arrow/ArrowRecord.chpl
  test/library/draft/arrow/ArrowRecord.notest
  test/library/draft/arrow/ArrowRecordDecl.chpl
  test/library/draft/arrow/ArrowRecordDecl.notest
  test/library/draft/arrow/ArrowStreamDecl.chpl
  test/library/draft/arrow/ArrowStreamDecl.notest
  test/library/draft/arrow/Makefile
  test/library/draft/arrow/ParquetDecl.chpl
  test/library/draft/arrow/ParquetDecl.notest
  test/library/draft/arrow/null.c
  test/library/draft/arrow/null.h
  test/library/draft/arrow/setup/GettingStarted.md
  test/library/draft/arrow/setup/Makefile
  test/library/draft/arrow/setup/build.chpl
  test/library/draft/arrow/setup/build.compopts
  test/library/draft/arrow/setup/build.good
  test/library/draft/arrow/setup/build.notest
  test/library/draft/arrow/setup/build.skipif
  test/library/draft/arrow/setup/cbuild.c
Labels: stat: Work in Progress

#18152 Sparse-Dense Matrix Multiplication
  modules/packages/LinearAlgebra.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/sparse-matmatmult-halt.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/sparse-matmatmult-halt.good
  test/library/packages/LinearAlgebra/correctness/no-dependencies/sparse-matmatmult.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/sparse-matmatmult.good
Labels: area: Libraries / Modules, area: Tests, stat: Ready to Merge

#18207 Make the channel <~> operators into operator methods
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, stat: Needs Code Review

#18211 Adjustments to `bigint.size` and `bigint.sizeinbase`
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateSize.chpl
  test/deprecated/BigInteger/deprecateSize.good
  test/deprecated/BigInteger/deprecateSizeinbase.chpl
  test/deprecated/BigInteger/deprecateSizeinbase.good
  test/library/standard/GMP/ferguson/gmp_dist_array.chpl
  test/library/standard/GMP/ldelaney/gmp_Bigint_misc.chpl
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#18241 Ignore touchbar interface on a mac
  runtime/src/comm/ofi/comm-ofi.c
Labels: area: Runtime

#18277 Add future to track the bug reported in #18257
  test/visibility/private/moduleSymbols/importPrivateSubmodule.bad
  test/visibility/private/moduleSymbols/importPrivateSubmodule.chpl
  test/visibility/private/moduleSymbols/importPrivateSubmodule.future
  test/visibility/private/moduleSymbols/importPrivateSubmodule.good
Labels: area: Tests

#18300 Deprecate sockets provider
  runtime/src/comm/ofi/comm-ofi.c
Labels: area: Runtime
