Repository chapel-lang/chapel, pull requests merged in 2021-06, with the labels that each got.

#17839 Only generate a deprecation warning if we're not already in a deprecated symbol
  compiler/AST/ImportStmt.cpp
  compiler/AST/UseStmt.cpp
  compiler/AST/stmt.cpp
  compiler/AST/symbol.cpp
  compiler/include/symbol.h
  compiler/passes/ResolveScope.cpp
  compiler/passes/scopeResolve.cpp
  compiler/resolution/functionResolution.cpp
  test/deprecated-keyword/argOfDepTypeInDepFunc.chpl
  test/deprecated-keyword/argOfDepTypeInDepFunc.good
  test/deprecated-keyword/referenceDepInDeprecatedSymbol.chpl
  test/deprecated-keyword/referenceDepInDeprecatedSymbol.good
Labels: area: Compiler, area: Tests, stat: Ready to Merge

#17845 Deprecate the BigInteger enum `Round` in favor of a new enum `round`
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateRound.chpl
  test/deprecated/BigInteger/deprecateRound.good
  test/library/standard/GMP/ldelaney/gmp_Bigint_division.chpl
  test/studies/shootout/pidigits/thomasvandoren/pidigits-BigInt.chpl
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#17874 Add skipif to the directory tracking deprecated BigInteger symbols
  test/deprecated/BigInteger.skipif
Labels: area: Tests, stat: Ready to Merge

#17848 Add deprecation warnings when deprecated configs are set at compilation and execution
  compiler/AST/build.cpp
  compiler/codegen/codegen.cpp
  runtime/include/config.h
  runtime/src/config.c
  test/deprecated-keyword/handleConfig.chpl
  test/deprecated-keyword/handleConfig.execopts
  test/deprecated-keyword/handleConfig.set.good
  test/deprecated-keyword/handleConfig.set2.good
  test/deprecated-keyword/handleConfig.unset.good
  test/deprecated-keyword/handleConfigNoMsg.chpl
  test/deprecated-keyword/handleConfigNoMsg.execopts
  test/deprecated-keyword/handleConfigNoMsg.set.good
  test/deprecated-keyword/handleConfigNoMsg.set2.good
  test/deprecated-keyword/handleConfigNoMsg.unset.good
  test/deprecated-keyword/handleConfigParam.chpl
  test/deprecated-keyword/handleConfigParam.compopts
  test/deprecated-keyword/handleConfigParam.set.good
  test/deprecated-keyword/handleConfigParam.unset.good
  test/deprecated-keyword/handleConfigParamNoMsg.chpl
  test/deprecated-keyword/handleConfigParamNoMsg.compopts
  test/deprecated-keyword/handleConfigParamNoMsg.set.good
  test/deprecated-keyword/handleConfigParamNoMsg.unset.good
Labels: area: Compiler, area: Runtime, area: Tests, stat: Needs Code Review

#17888 Squash all deprecation warnings in deprecated symbols, no matter how deeply
  compiler/AST/symbol.cpp
  test/deprecated-keyword/deepDepInDep.chpl
  test/deprecated-keyword/deepDepInDep.good
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#17896 Stop the launcher from generating deprecation warnings about execution configs
  runtime/src/config.c
  test/deprecated-keyword/handleConfigMultilocale.chpl
  test/deprecated-keyword/handleConfigMultilocale.execopts
  test/deprecated-keyword/handleConfigMultilocale.good
  test/deprecated-keyword/handleConfigMultilocale.numlocales
  test/deprecated-keyword/handleConfigMultilocale.skipif
Labels: area: Runtime, area: Tests, stat: Needs Testing

#17900 Update required python package versions for chpldoc and start_test
  test/chpldoc/compflags/folder/save-sphinx/saveSphinxInDocs.doc.bad
  test/chpldoc/compflags/folder/save-sphinx/saveSphinxInDocs.doc.future
  test/chpldoc/compflags/folder/save-sphinx/saveSphinxInDocs.doc.prediff
  third-party/chpl-venv/chpldoc-requirements.txt
  third-party/chpl-venv/test-requirements.txt
Labels: area: Tests, area: Tools, stat: Ready to Merge

#17903 Add a test locking in that the issue with inherited type methods has been fixed
  test/visibility/import/enablesUnqualified/inheritance-typeMethod.chpl
  test/visibility/import/enablesUnqualified/inheritance-typeMethod.compopts
  test/visibility/import/enablesUnqualified/inheritance-typeMethod.good
Labels: area: Tests, stat: Ready to Merge

#17928 Avoid chpldoc failures on our Ubuntu boxes
  test/man/checkManPages
  test/mason/mason-doc/SKIPIF
  util/cron/nightly
Labels: area: BTR, area: Tests

#17944 Downgrade the version of docutils used in order to upgrade sphinx-rtd-theme
  test/chpldoc/compflags/author/withoutAuthor/withoutAuthor.doc.good
  third-party/chpl-venv/chpldoc-requirements.txt
Labels: area: BTR, area: Tests, stat: Ready to Merge

#17523 Matrix exponentiation using Scaling and Squaring Algorithm.
  modules/packages/LinearAlgebra.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/testExpm.chpl
  test/library/packages/LinearAlgebra/correctness/no-dependencies/testExpm.good
Labels: area: Libraries / Modules, stat: Ready to Merge

#17936 Rename division methods in BigInteger and their arguments
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateRound.chpl
  test/deprecated/BigInteger/deprecateRound.good
  test/library/standard/GMP/ldelaney/gmp_Bigint_arithmetic.chpl
  test/library/standard/GMP/ldelaney/gmp_Bigint_division.chpl
  test/release/examples/benchmarks/shootout/pidigits-fast.chpl
  test/studies/shootout/pidigits/bradc/pidigits-blc.chpl
  test/studies/shootout/pidigits/thomasvandoren/pidigits-BigInt.chpl
  test/studies/shootout/pidigits/thomasvandoren/pidigits-ledrug-BigInt.chpl
  test/studies/shootout/submitted/pidigits2-27.good
  test/studies/shootout/submitted/pidigits2.good
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#17963 Document recommended adjustment to operator methods for inheritance
  doc/rst/technotes/operatorMethods.rst
  test/functions/operatorOverloads/operatorMethods/inheritance-works.chpl
  test/functions/operatorOverloads/operatorMethods/inheritance-works.good
Labels: area: Docs, area: Tests, stat: Needs Code Review

#17971 Fix bug with isConstAssignable and operator methods
  compiler/resolution/preFold.cpp
  modules/internal/Atomics.chpl
  modules/internal/NetworkAtomics.chpl
  test/library/standard/Types/copyable-custom-records-op-method.chpl
  test/library/standard/Types/copyable-custom-records-op-method.good
Labels: area: Compiler, area: Libraries / Modules, area: Tests, stat: Needs Code Review

#18004 Restore CHPL_REGEXP to ChapelEnv module, but mark it as deprecated
  modules/standard/ChapelEnv.chpl
  test/deprecated/ChapelEnv-CHPL_REGEXP.chpl
  test/deprecated/ChapelEnv-CHPL_REGEXP.good
  test/deprecated/ChapelEnv-CHPL_REGEXP.skipif
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review
