Repository chapel-lang/chapel, pull requests merged in 2022-03, with the labels that each got.

#19298 Remove support for operators declared with `proc` keyword
  compiler/passes/checkParsed.cpp
  test/deprecated/operatorNoKeyword.good
  test/functions/operatorOverloads/operatorNoKeyword.chpl
  test/functions/operatorOverloads/operatorNoKeyword.good
  test/studies/amr/lib/misc/LanguageExtensions.chpl
  test/studies/comd/elegant/arrayOfStructs/util/Simulation.chpl
  test/studies/comd/llnl/utils/setup.chpl
  test/studies/graph500/kristyn/Graph500_1D_onV/Graph500_Modules/Graph500_defs.chpl
  test/studies/graph500/v3/Graph500_Modules/Graph500_defs.chpl
  test/studies/shootout/submitted/mandelbrot3.notest
  test/types/records/expiring/deinit-point-stmt-exprs.chpl
Labels: area: Compiler, area: Tests, stat: Needs Code Review

#19308 Remove previously deprecated instances of regexp and add a deprecation
  modules/packages/RecordParser.chpl
  modules/standard/ChplConfig.chpl
  modules/standard/Regex.chpl
  modules/standard/Regexp.chpl
  test/chplenv/chplconfig/warnings/chplconfig
  test/chplenv/chplconfig/warnings/warnings.chpl
  test/deprecated/ChapelEnv-CHPL_REGEXP.chpl
  test/deprecated/ChapelEnv-CHPL_REGEXP.good
  test/deprecated/ChapelEnv-CHPL_REGEXP.skipif
  test/deprecated/RegexpModule.chpl
  test/deprecated/RegexpModule.good
  test/deprecated/RegexpModule.skipif
  test/deprecated/regexp_error.chpl
  test/deprecated/regexp_error.good
  test/studies/shootout/submitted/regexredux2.notest
  test/studies/shootout/submitted/regexredux3.notest
  util/chplenv/chpl_re2.py
Labels: area: Libraries / Modules, area: Makefiles / Scripts, area: Tools, area: Tests, stat: Needs Code Review

#19354 Fix couple of missed operator declarations
  modules/packages/Socket.chpl
  test/types/tuple/ferguson/const-ref-tuple-decl.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#19360 Update test to use operator keyword
  test/studies/madness/aniruddha/madchap/mytests/par-reconstruct/MRA.chpl
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#19148 Use hybrid MR mode with the cxi provider
  runtime/src/comm/ofi/comm-ofi.c
Labels: area: Runtime

#19375 Adjust the madness test directory skipif so it only excludes testing with intel
  test/studies/madness.skipif
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#19368 Add checks for division by 0 to the bigint division methods
  modules/standard/BigInteger.chpl
  test/library/standard/BigInteger/divQByZero.chpl
  test/library/standard/BigInteger/divQByZero.compopts
  test/library/standard/BigInteger/divQByZero.good
  test/library/standard/BigInteger/divQRByZero.chpl
  test/library/standard/BigInteger/divQRByZero.compopts
  test/library/standard/BigInteger/divQRByZero.good
  test/library/standard/BigInteger/divRByZero.chpl
  test/library/standard/BigInteger/divRByZero.compopts
  test/library/standard/BigInteger/divRByZero.good
  test/library/standard/BigInteger/divexactByZero.chpl
  test/library/standard/BigInteger/divexactByZero.compopts
  test/library/standard/BigInteger/divexactByZero.good
  test/library/standard/BigInteger/divideByZero.chpl
  test/library/standard/BigInteger/divideByZero.compopts
  test/library/standard/BigInteger/divideByZero.good
  test/library/standard/BigInteger/divideEqualsByZero.chpl
  test/library/standard/BigInteger/divideEqualsByZero.compopts
  test/library/standard/BigInteger/divideEqualsByZero.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#19427 Deprecate bigint.gcdext in favor of gcd overload with same arguments, and doc
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateGcdext.chpl
  test/deprecated/BigInteger/deprecateGcdext.good
  test/library/standard/GMP/ldelaney/gmp_Bigint_number_theoretic.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#19428 Deprecate bigint.get_d_2exp and replace it with bigint.getD2Exp
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateGetd2exp.chpl
  test/deprecated/BigInteger/deprecateGetd2exp.good
  test/library/standard/BigInteger/getD2Exp.chpl
  test/library/standard/BigInteger/getD2Exp.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review, stat: Needs Testing

#19477 Update spec now that operators can be listed in use and import statements
  doc/rst/language/spec/modules.rst
Labels: area: Docs, stat: Needs Code Review

#19521 Extend the title of the section on generic compiler generated initializers
  doc/rst/language/spec/generics.rst
Labels: area: Docs, stat: Needs Code Review

#19526 Add return types to documentation for array.size, .sizeAs, .shape
  modules/internal/ChapelArray.chpl
Labels: post-release

#19520 Extend documentation of using the deprecated keyword, and lock in examples with tests
  doc/rst/developer/bestPractices/Deprecation.rst
  test/deprecated-keyword/depReturnTypeOnly.chpl
  test/deprecated-keyword/depReturnTypeOnly.compopts
  test/deprecated-keyword/depReturnTypeOnly.off.good
  test/deprecated-keyword/depReturnTypeOnly.on.good
  test/deprecated-keyword/handleField-explicitInits.chpl
  test/deprecated-keyword/handleField-explicitInits.good
  test/deprecated-keyword/handleField.chpl
  test/deprecated-keyword/handleField.good
Labels: area: Docs, area: Tests / Benchmarks, stat: Ready to Merge, post-release

#19550 Bump Sphinx Chapel domain version number
  third-party/chpl-venv/chpldoc-requirements3.txt
Labels: area: Third-Party, area: Tools, stat: Ready to Merge, post-release

#19556 Update the test to handle different number of GPUs per locale
  test/gpu/native/multiGPU/multiGPU.chpl
  test/gpu/native/multiGPU/multiGPU.good
  test/gpu/native/multiGPU/multiGPU.prediff
Labels: post-release

#19541 Add leak annotation
  test/ANNOTATIONS.yaml
Labels: post-release

#19539 Fix split of directory name into prefix and value
  util/chplenv/printchplbuilds.py
Labels: area: Tools, post-release

#19359 dyno: Begin resolving method calls and initializer calls
  compiler/dyno/include/chpl/queries/all-global-strings.h
  compiler/dyno/include/chpl/resolution/resolution-queries.h
  compiler/dyno/include/chpl/resolution/resolution-types.h
  compiler/dyno/include/chpl/resolution/scope-types.h
  compiler/dyno/include/chpl/types/QualifiedType.h
  compiler/dyno/include/chpl/uast/AstNode.h
  compiler/dyno/include/chpl/uast/AstTag.h
  compiler/dyno/include/chpl/uast/New.h
  compiler/dyno/lib/parsing/parsing-queries.cpp
  compiler/dyno/lib/resolution/Resolver.cpp
  compiler/dyno/lib/resolution/Resolver.h
  compiler/dyno/lib/resolution/resolution-queries.cpp
  compiler/dyno/lib/resolution/resolution-types.cpp
  compiler/dyno/lib/uast/New.cpp
  compiler/dyno/lib/uast/TupleDecl.cpp
  compiler/dyno/test/resolution/CMakeLists.txt
  compiler/dyno/test/resolution/testResolveMethodCalls.cpp
  compiler/dyno/test/resolution/testResolveNew.cpp
Labels: area: Compiler, post-release
