Repository chapel-lang/chapel, pull requests merged in 2022-04, with the labels that each got.

#19497 Adding the homebrew formula to Chapel util directory.
  util/packaging/homebrew/chapel-main.rb
  util/packaging/homebrew/chapel-release.rb
  util/packaging/homebrew/readme.md
Labels: post-release

#19546 Better error messages for runtime build environment variables
  runtime/Makefile.help
Labels: area: Makefiles / Scripts, post-release

#19593 Use fi_cntr_wait when waiting on a completion counter
  runtime/src/comm/ofi/comm-ofi.c
Labels: area: Runtime, type: Performance

#19644 Re-enable the task-overload test with comm=ofi.
  test/runtime/configMatters/comm/task-overload.skipif
Labels: stat: Work in Progress

#19662 Solve two internal errors with importing and super/this
  compiler/passes/ResolveScope.cpp
  test/visibility/import/relative/import-relative-error2.good
  test/visibility/import/superImport/superSuper.chpl
  test/visibility/import/superImport/superSuper.good
  test/visibility/import/superImport/superSuperThisThisWarning.bad
  test/visibility/import/superImport/superSuperThisThisWarning.chpl
  test/visibility/import/superImport/superSuperThisThisWarning.future
  test/visibility/import/superImport/superSuperThisThisWarning.good
  test/visibility/import/superImport/superSuperThisWarning.bad
  test/visibility/import/superImport/superSuperThisWarning.chpl
  test/visibility/import/superImport/superSuperThisWarning.future
  test/visibility/import/superImport/superSuperThisWarning.good
  test/visibility/import/superImport/superThisSuper.chpl
  test/visibility/import/superImport/superThisSuper.good
  test/visibility/import/superImport/superThisWarning.chpl
  test/visibility/import/superImport/superThisWarning.good
  test/visibility/relative-use/use-relative-error2.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#19671 Fix bug with importing private submodules
  compiler/passes/ResolveScope.cpp
  test/modules/vass/use-a-Math-function.bad
  test/modules/vass/use-a-Math-function.future
  test/visibility/private/moduleSymbols/importPrivateSubmodule.bad
  test/visibility/private/moduleSymbols/importPrivateSubmodule.future
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#19677 Improve printing of operator methods when printing a call stack at compilation
  compiler/AST/FnSymbol.cpp
  test/functions/operatorOverloads/operatorMethods/inCallStack.chpl
  test/functions/operatorOverloads/operatorMethods/inCallStack.good
  test/types/errors/assignTypes.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#19678 Add test from #17362 (unmanaged child instances and only clauses)
  test/visibility/only/inheritance/BaseModule.chpl
  test/visibility/only/inheritance/BaseModule.notest
  test/visibility/only/inheritance/accessParentField.chpl
  test/visibility/only/inheritance/accessParentField.good
Labels: area: Tests / Benchmarks

#19723 Pin XC x86 cce module build to an older mpich
  util/build_configs/cray-internal/setenv-xc-x86_64.bash
Labels: stat: Work in Progress
