Repository chapel-lang/chapel, pull requests merged in 2022-02, with the labels that each got.

#19228 Add a warning to the I/O style section of the IO docs and remove a note
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Needs Code Review

#19163 Deprecate binary conversions in formatted I/O
  modules/standard/IO.chpl
  runtime/include/qio/qio_formatted.h
  runtime/src/qio/qio_formatted.c
  test/deprecated/recordiobug.chpl
  test/deprecated/recordiobug.good
  test/deprecated/writefbinary.chpl
  test/deprecated/writefbinary.good
  test/deprecated/writefbinary.prediff.save
  test/io/ferguson/channel-changing-type.chpl
  test/io/ferguson/digits.binary-string.good
  test/io/ferguson/digits.execopts
  test/io/ferguson/read-string-zero.chpl
  test/io/ferguson/read-string-zero.good
  test/io/ferguson/writef.chpl
  test/io/ferguson/writef.good
  test/io/ferguson/writef_readf.chpl
  test/io/ferguson/writefbinary.compopts
  test/io/ferguson/writefbinary.good
  test/io/jhh/readbinary-eof.chpl
  test/io/jhh/readbinary-eof.execopts
  test/io/jhh/readbinary-eof.good
  test/io/jhh/readbinary-eof.stdin1
  test/io/jhh/readbinary-eof.stdin2
  test/io/jhh/readbinary-error.chpl
  test/io/jhh/readbinary-error.compopts
  test/io/jhh/readbinary-error.good
  test/io/jhh/readbinary.chpl
  test/io/jhh/readbinary.good
  test/io/jhh/readbinary.stdin
  test/io/jhh/writebinary-error.chpl
  test/io/jhh/writebinary-error.compopts
  test/io/jhh/writebinary-error.good
  test/io/jhh/writebinary.chpl
  test/io/jhh/writebinary.good
Labels: area: Libraries / Modules

#19302 Remove remaining deprecated Path module methods on the file type
  modules/standard/Path.chpl
  test/deprecated/pathFile.chpl
  test/deprecated/pathFile.good
  test/library/standard/Path/lydia/realpath/fileNotValid.good
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review

#19310 Add future to track #19304 (duplicate deprecation warnings for caught errors)
  test/deprecated-keyword/catchDeprecatedError.bad
  test/deprecated-keyword/catchDeprecatedError.chpl
  test/deprecated-keyword/catchDeprecatedError.future
  test/deprecated-keyword/catchDeprecatedError.good
Labels: area: Tests, stat: Ready to Merge

#19319 Replace the starting_bit argument name from bigint.scan0 and bigint.scan1
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateScanArg.chpl
  test/deprecated/BigInteger/deprecateScanArg.good
Labels: area: Libraries / Modules, area: Tests, stat: Needs Code Review
