Repository chapel-lang/chapel, pull requests merged in 2022-05, with the labels that each got.

#19783 Add a test about the semantic behavior when submodule and top level share a name
  test/visibility/import/submoduleCloser.bad
  test/visibility/import/submoduleCloser.chpl
  test/visibility/import/submoduleCloser.future
  test/visibility/import/submoduleCloser.good
Labels: area: Tests / Benchmarks

#19525 Call init_ofiFabricDomain from chpl_comm_post_mem_init
  runtime/include/chpl-tasks.h
  runtime/include/tasks/qthreads/chpl-tasks-impl-fns.h
  runtime/src/comm/ofi/comm-ofi.c
  runtime/src/tasks/qthreads/tasks-qthreads.c
Labels: area: Runtime, post-release

#19724 Recommend `c_array` instead of tuples for C array interoperability.
  doc/rst/language/spec/interoperability.rst
Labels: stat: Work in Progress

#19855 Include protobuf implementation module in documented package modules
  doc/rst/meta/modules/packages.rst
  modules/Makefile
  modules/packages/ProtobufProtocolSupport.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Needs Code Review

#19885 Reduce uses of Math by automatically included modules
  modules/internal/ChapelRange.chpl
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/compflags/ferguson/print-module-resolution.good
  test/modules/bradc/printModStuff/foo.good
  test/optimizations/deadCodeElimination/elliot/countDeadModules.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review
