Repository chapel-lang/chapel, pull requests merged in 2023-04, with the labels that each got.

#22030 Add a future to lock in the bug I found with deprecation warnings
  test/deprecated-keyword/promotionCall.bad
  test/deprecated-keyword/promotionCall.chpl
  test/deprecated-keyword/promotionCall.future
  test/deprecated-keyword/promotionCall.good
  test/deprecated-keyword/promotionCall.prediff
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#22017 Deprecate including these math constants by default
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/classes/ferguson/forwarding/call-forwarded-omit-this.bad
  test/classes/ferguson/forwarding/call-forwarded-omit-this.chpl
  test/deprecated/Math/mathConstants.chpl
  test/deprecated/Math/mathConstants.good
  test/exercises/c-ray/c-ray.chpl
  test/exercises/c-ray/old/c-ray.chpl
  test/exercises/c-ray/solutions/c-ray-1.chpl
  test/exercises/c-ray/solutions/c-ray-1a.chpl
  test/exercises/c-ray/solutions/c-ray-2.chpl
  test/exercises/c-ray/solutions/c-ray-2a.chpl
  test/exercises/c-ray/solutions/c-ray-3.chpl
  test/exercises/c-ray/solutions/c-ray-3a.chpl
  test/exercises/c-ray/solutions/c-ray-4.chpl
  test/exercises/c-ray/solutions/c-ray-4a.chpl
  test/exercises/c-ray/solutions/c-ray-5.chpl
  test/exercises/c-ray/solutions/c-ray-6.chpl
  test/exercises/c-ray/solutions/c-ray-7.chpl
  test/exercises/c-ray/solutions/c-ray-8.chpl
  test/modules/engin/pkg_module_res.chpl
  test/npb/ft/npadmana/ft_transposed.chpl
  test/release/examples/users-guide/base/constParam.chpl
  test/studies/prk/PIC/pic.chpl
  test/types/real/transmute-toUint.chpl
  test/types/string/sungeun/c_string/concat.chpl
  test/types/string/sungeun/c_string/decls.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#21772 Compute dependencies when using --savec
  compiler/util/files.cpp
Labels: post-release

#22046 Add a use of the Math module to these tests
  test/library/packages/LinearAlgebra/correctness/inv-test.chpl
  test/library/packages/LinearAlgebra/correctness/testEigen.chpl
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#21825 Change 'Compiler Library'->'Frontend Library' in docs
  doc/rst/developer/bestPractices/buildingdocs.rst
  doc/rst/developer/bestPractices/index.rst
  doc/rst/meta/compiler-internals-doxygen/index.rst
  doc/rst/meta/compiler-internals-no-doxygen/index.rst
Labels: area: Docs, area: Dyno

#22094 Update GPU technote with CUDA/ROCM version requirements
  doc/rst/technotes/gpu.rst
Labels: area: Docs, type: Portability, area: GPU Support

#22120 Stop including erf and erfc in all programs by default
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/erfErfc.chpl
  test/deprecated/Math/erfErfc.good
  test/library/standard/Math/erf.chpl
  test/library/standard/Math/erfc.chpl
  test/release/examples/benchmarks/hpcc/ptrans.chpl
  test/studies/hpcc/PTRANS/PTRANS.chpl
  test/studies/hpcc/PTRANS/jglewis/ptrans_2011-blkcyc.chpl
  test/studies/hpcc/PTRANS/jglewis/ptrans_2011.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#22124 Restore carg to AutoMath
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/cargDep.chpl
  test/deprecated/Math/cargDep.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Ready to Merge

#21598 dyno: resolve reflection (including "can resolve") via tracking errors
  doc/util/nitpick_ignore
  frontend/include/chpl/framework/Context-detail.h
  frontend/include/chpl/framework/Context.h
  frontend/include/chpl/framework/query-impl.h
  frontend/include/chpl/resolution/resolution-types.h
  frontend/lib/framework/Context.cpp
  frontend/lib/resolution/prims.cpp
  frontend/test/framework/CMakeLists.txt
  frontend/test/framework/testDependencies.cpp
  frontend/test/framework/testErrorTracking.cpp
  frontend/test/resolution/CMakeLists.txt
  frontend/test/resolution/testReflection.cpp
  frontend/test/resolution/testScopeResolve.cpp
  frontend/test/test-resolution.cpp
  frontend/test/test-resolution.h
Labels: post-release

#21880 Add promotion example to Users Guide
  doc/rst/users-guide/datapar/promotion.rst
  test/release/examples/users-guide/datapar/promotion.chpl
  test/release/examples/users-guide/datapar/promotion.good
Labels: post-release

#22149 Deprecate including ldexp by default and move it to the Math module
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  modules/standard/Random.chpl
  test/deprecated/Math/depLdexp.chpl
  test/deprecated/Math/depLdexp.good
  test/modules/bradc/printModStuff/foo.good
  test/separate_compilation/serialization/testGenLib.MyMod.good
  test/separate_compilation/serialization/testGenLib.OtherMod.good
  test/separate_compilation/serialization/testGenLib.both.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#22173 Deprecate including lgamma and tgamma by default
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/gammas.chpl
  test/deprecated/Math/gammas.good
  test/library/standard/Math/bradc/math32bits-more.chpl
  test/library/standard/Math/lgamma.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review
