Repository chapel-lang/chapel, pull requests merged in 2023-08, with the labels that each got.

#22847 Update isclose based on decisions made
  modules/standard/AutoMath.chpl
  test/deprecated/Math/depIsClose.chpl
  test/deprecated/Math/depIsClose.good
  test/deprecated/Math/mathConstants.chpl
  test/library/standard/Math/isCloseBadType1.chpl
  test/library/standard/Math/isCloseBadType1.good
  test/library/standard/Math/isCloseBadType2.chpl
  test/library/standard/Math/isCloseBadType2.good
  test/library/standard/Math/isCloseMixedTypes.chpl
  test/library/standard/Math/isCloseMixedTypes.good
  test/library/standard/Math/isclose.chpl
  test/library/standard/Math/isclose.good
  test/runtime/configMatters/comm/atomic-stress.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#22864 Fix testing failures from yesterday's isClose adjustments
  test/gpu/native/array_on_device/studies/shoc/triadAOD.chpl
  test/gpu/native/array_on_device/studies/shoc/triadAodAsync.chpl
  test/gpu/native/atomics.chpl
  test/gpu/native/bitops.chpl
  test/gpu/native/math.chpl
  test/gpu/native/studies/multiGpuStream/multiGpuStream.chpl
  test/gpu/native/studies/shoc/triad.chpl
  test/gpu/native/studies/shoc/triadalt1.chpl
  test/gpu/native/studies/shoc/triadalt2.chpl
  test/gpu/native/studies/shoc/triadchpl.chpl
  test/gpu/native/studies/transpose/transpose.chpl
  test/library/packages/LinearAlgebra/correctness/testEigen.chpl
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#22923 Rename remaining Math constants and mark them unstable
  modules/standard/Math.chpl
  test/deprecated/Math/mathConstantsRenamed.chpl
  test/deprecated/Math/mathConstantsRenamed.good
  test/exercises/c-ray/c-ray.chpl
  test/exercises/c-ray/old/c-ray.chpl
  test/exercises/c-ray/solutions/c-ray-1.chpl
  test/exercises/c-ray/solutions/c-ray-1a.chpl
  test/exercises/c-ray/solutions/c-ray-2.chpl
  test/exercises/c-ray/solutions/c-ray-2a.chpl
  test/exercises/c-ray/solutions/c-ray-3.chpl
  test/exercises/c-ray/solutions/c-ray-3a.chpl
  test/exercises/c-ray/solutions/c-ray-4.chpl
  test/exercises/c-ray/solutions/c-ray-4a.chpl
  test/exercises/c-ray/solutions/c-ray-5.chpl
  test/exercises/c-ray/solutions/c-ray-6.chpl
  test/exercises/c-ray/solutions/c-ray-7.chpl
  test/exercises/c-ray/solutions/c-ray-8.chpl
  test/library/standard/Math/constants.chpl
  test/unstable/Math/unstableConstants.chpl
  test/unstable/Math/unstableConstants.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Ready to Merge

#22946 Fix this test to avoid deprecation warnings for some Math constants
  test/library/packages/LinearAlgebra/correctness/dependencies/testEigen.chpl
Labels: area: Tests / Benchmarks

#22939 Mark the log functions as unstable when uint and int arguments are provided
  modules/standard/Math.chpl
  test/unstable/Math/unstableLogs.chpl
  test/unstable/Math/unstableLogs.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Ready to Merge

#22947 Rename conjg to conj
  modules/packages/LinearAlgebra.chpl
  modules/standard/AutoMath.chpl
  test/chplvis/benchmarks-hpcc/fft-vdb.chpl
  test/deprecated/Math/argNames/conjgZ.chpl
  test/deprecated/Math/argNames/conjgZ.good
  test/deprecated/Math/conjgZ.chpl
  test/deprecated/Math/conjgZ.good
  test/library/packages/BLAS/blas_helpers.chpl
  test/library/packages/BLAS/test_blas3.chpl
  test/library/standard/Math/conjg.chpl
  test/npb/ft/ft-serial.chpl
  test/performance/compiler/bradc/fft-timecomp.chpl
  test/release/examples/benchmarks/hpcc/fft.chpl
  test/release/examples/benchmarks/lcals/RunARawLoops.chpl
  test/release/examples/benchmarks/lcals/RunParallelRawLoops.chpl
  test/release/examples/benchmarks/lcals/RunSPMDRawLoops.chpl
  test/release/examples/benchmarks/lcals/RunVectorizeOnlyRawLoops.chpl
  test/studies/hpcc/FFT/bradc/fft.chpl
  test/studies/hpcc/FFT/diten/fft.chpl
  test/studies/hpcc/FFT/fft-candidate-2d.chpl
  test/studies/hpcc/FFT/fft-hpcc06-mta.chpl
  test/studies/hpcc/FFT/fft-hpcc06.chpl
  test/studies/hpcc/FFT/marybeth/fft-test-even.chpl
  test/studies/hpcc/FFT/marybeth/fft.chpl
  test/studies/hpcc/FFT/marybeth/fft2d.chpl
  test/types/complex/bradc/negateimaginary3.chpl
  test/types/complex/diten/cplxMathFnTypes.chpl
  test/types/complex/waynew/complex-simple.chpl
  test/types/complex/waynew/complex-simple.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#22964 Fix problems with modularization
  util/test/sub_test.py
Labels: area: BTR

#22971 Update these tests to use the new name for `conjg`
  test/optimizations/bulkcomm/asenjo/redistBlockToCyclic/FFT_assignment.chpl
  test/optimizations/bulkcomm/asenjo/redistBlockToCyclic/FFT_bulk.chpl
Labels: area: Tests / Benchmarks

#22981 Replace usage of `conjg` with `conj` in GPU math test
  test/gpu/native/mathOps.chpl
Labels: area: Tests / Benchmarks

#22984 Fix this cuda-specific test to use the new name for the conjg function
  test/gpu/interop/cuBLAS/level1/test_cublas1.chpl
Labels: area: Tests / Benchmarks

#22993 Improve `Math` module doc
  modules/standard/Math.chpl
Labels: area: Libraries / Modules, stat: Needs Testing

#23011 Update these tests to use `conj` instead of `conjg`
  test/library/packages/BLAS/test_blas1.chpl
  test/library/packages/BLAS/test_blas2.chpl
  test/library/packages/LinearAlgebra/correctness/dependencies/testEigen.chpl
  test/library/packages/LinearAlgebra/correctness/dependencies/testLeastSquares.chpl
Labels: area: Tests / Benchmarks

#22999 Improve OFI landing zone sizing
  runtime/src/comm/ofi/comm-ofi.c
Labels: area: Runtime

#23070 Rename INFINITY, NAN, isfinite, isinf, and isnan
  modules/internal/BytesCasts.chpl
  modules/internal/ChapelReduce.chpl
  modules/internal/StringCasts.chpl
  modules/standard/AutoMath.chpl
  test/deprecated/Math/depINFINITY.chpl
  test/deprecated/Math/depINFINITY.good
  test/deprecated/Math/depIsFinite.chpl
  test/deprecated/Math/depIsFinite.good
  test/deprecated/Math/depIsInf.chpl
  test/deprecated/Math/depIsInf.good
  test/deprecated/Math/depIsNan.chpl
  test/deprecated/Math/depIsNan.good
  test/deprecated/Math/depNAN.chpl
  test/deprecated/Math/depNAN.good
  test/expressions/calls/CallInfinity.chpl
  test/functions/diten/complexAbsFn.chpl
  test/functions/diten/imagAbsFn.chpl
  test/functions/diten/realAbsFn.chpl
  test/gpu/native/mathOps.chpl
  test/library/standard/Math/infinity.chpl
  test/library/standard/Math/infinity.good
  test/library/standard/Math/signbit.chpl
  test/param/ferguson/inf-nan-narrowing.chpl
  test/param/ferguson/param-inf.chpl
  test/param/ferguson/param-inf.good
  test/studies/dijkstra/BC_dijkstra.chpl
  test/studies/dijkstra/heap.chpl
  test/studies/twitter/tempConvert.chpl
  test/types/real/nan-comparisons.chpl
  test/types/real/nan-comparisons.good
  test/types/real/nan-minmax.chpl
Labels: area: Libraries / Modules, area: Docs, area: Tests / Benchmarks, stat: Ready to Merge

#23077 Rename ldexp and its `n` argument
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  modules/standard/Random.chpl
  test/deprecated/Math/argNames/depLdexp.chpl
  test/deprecated/Math/argNames/depLdexp.good
  test/deprecated/Math/depLdexp.good
  test/gpu/native/mathOps.chpl
Labels: area: Libraries / Modules, area: Docs, area: Tests / Benchmarks, stat: Ready to Merge

#23098 Rename tgamma and lgamma, as discussed
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/depLgamma.chpl
  test/deprecated/Math/depLgamma.good
  test/deprecated/Math/depTgamma.chpl
  test/deprecated/Math/depTgamma.good
  test/deprecated/Math/gammas.good
  test/gpu/native/mathOps.chpl
  test/library/standard/Math/bradc/math32bits-more.chpl
  test/library/standard/Math/bradc/math32bits.chpl
  test/library/standard/Math/lgamma.good
  test/library/standard/Math/lnGamma.chpl
  test/library/standard/Math/lnGamma.good
  test/library/standard/Math/promotion/gamma.chpl
  test/library/standard/Math/promotion/gamma.good
  test/library/standard/Math/promotion/generate_tests/make_promotion_tests.py
  test/library/standard/Math/promotion/lnGamma.chpl
  test/library/standard/Math/promotion/lnGamma.good
Labels: area: Libraries / Modules, area: Docs, area: Tests / Benchmarks, stat: Ready to Merge

#23142 Fix nightly failures with INFINITY and NAN
  test/library/packages/LinearAlgebra/correctness/dependencies/testSVD-error.chpl
  test/optimizations/cache-remote/ferguson/comm_counting/ra_prefetch.chpl
Labels: area: Tests / Benchmarks

#23157 Adjust the deprecation message for the divceil family of functions
  modules/standard/AutoMath.chpl
  test/deprecated/Math/depDivCeilDivFloor.good
  test/deprecated/Math/depDivCeilPos.good
  test/deprecated/Math/depDivFloorPos.good
  test/studies/shootout/submitted/mandelbrot.pbm
  test/studies/shootout/submitted/mandelbrot3.pbm
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#23172 Deprecate the name cproj and add a new function riemProj to replace it
  modules/standard/AutoMath.chpl
  test/deprecated/Math/argNames/cprojZ.good
  test/deprecated/Math/depCproj.chpl
  test/deprecated/Math/depCproj.good
  test/types/complex/diten/cplxMathFnTypes.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#22945 Support for heterogeneous processing units
  doc/rst/usingchapel/executing.rst
  runtime/include/chpl-topo.h
  runtime/src/chpl-init.c
  runtime/src/topo/hwloc/topo-hwloc.c
  runtime/src/topo/none/topo-none.c
  test/runtime/jhh/cpuKinds/README
  test/runtime/jhh/cpuKinds/alderLake.xml
  test/runtime/jhh/cpuKinds/cpuKinds.c
  test/runtime/jhh/cpuKinds/cpuKinds.chpl
  test/runtime/jhh/cpuKinds/cpuKinds.py
  test/runtime/jhh/cpuKinds/milan.xml
  test/runtime/jhh/cpuKinds/sub_test
  test/runtime/jhh/lps/SKIPIF
  test/runtime/jhh/lps/lps_test.chpl
  test/runtime/jhh/lps/lps_test.notest
  test/runtime/jhh/lps/lps_test.py
  test/runtime/jhh/lps/sub_test
Labels: area: Runtime

#23179 Mark both versions of signbit unstable
  modules/standard/AutoMath.chpl
  test/unstable/Math/unstableSignbit.chpl
  test/unstable/Math/unstableSignbit.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23177 Deprecate the `carg` function fully, to be replaced by a new function `phase`
  modules/standard/AutoMath.chpl
  test/deprecated/Math/argNames/cargZ.good
  test/deprecated/Math/depCarg.chpl
  test/deprecated/Math/depCarg.good
  test/types/complex/diten/cplxMathFnTypes.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review
