Repository chapel-lang/chapel, pull requests merged in 2023-03, with the labels that each got.

#21788 Remove deprecated channel.isclosed
  modules/standard/IO.chpl
  test/deprecated/IO/isclosed.chpl
  test/deprecated/IO/isclosed.cleanfiles
  test/deprecated/IO/isclosed.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks

#21804 Remove channel deprecation
  compiler/AST/AggregateType.cpp
  compiler/AST/type.cpp
  modules/packages/URL.chpl
  modules/standard/ChapelIO.chpl
  modules/standard/IO.chpl
  modules/standard/Regex.chpl
  test/compflags/ferguson/print-module-resolution.good
  test/deprecated/IO/channel-readbits.good
  test/deprecated/IO/channel-writebits.good
  test/deprecated/IO/iochannel.chpl
  test/deprecated/IO/iochannel.good
  test/deprecated/IO/localesForRegion.good
  test/deprecated/IO/readline.good
  test/functions/generic/genericChannelInInit1.good
  test/io/bharshbarg/overflow.good
  test/io/cassella/readline.good
  test/io/ferguson/channel-changing-type-error1.chpl
  test/io/ferguson/channel-changing-type-error1.good
  test/io/ferguson/channel-changing-type-error2.chpl
  test/io/ferguson/channel-changing-type-error2.good
  test/io/ferguson/channel-changing-type-error3.chpl
  test/io/ferguson/channel-changing-type-error3.good
  test/io/ferguson/channel-changing-type-error4.chpl
  test/io/ferguson/channel-changing-type-error4.good
  test/io/ferguson/error-invalid-channel.close.good
  test/io/ferguson/error-invalid-channel.write.good
  test/io/ferguson/printing-channel-types.chpl
  test/io/ferguson/printing-channel-types.good
  test/io/literals/mismatch-read-write.chpl
  test/io/literals/mismatch-read-write.cleanfiles
  test/io/literals/mismatch-read-write.compopts
  test/io/literals/mismatch-read-write.prediff
  test/io/literals/mismatch-read-write.template.good
  test/io/readLine/readLine.good
  test/io/readLine/readLineArrayBoundary.good
  test/io/readLine/readLineBytesBoundary.good
  test/io/readLine/readLineStringBoundary.good
  test/library/standard/IO/readAll/readBytesArrayInsufficientCapacity.good
  test/modules/sungeun/init/printModuleInitOrder.good
  test/regex/bytes/nonUTFIO.good
  test/studies/amr/lib/amr/AMRHierarchy_def.chpl
  test/studies/amr/lib/grid/GridVariable_def.chpl
  test/studies/amr/lib/level/LevelVariable_def.chpl
  test/studies/shootout/submitted/knucleotide3.good
  test/studies/shootout/submitted/knucleotide4.good
  test/unstable/iostyle/depIostyle.good
  test/unstable/iostyle/styleAndSetStyle.good
  test/unstable/iostyle/styleAndSetStyle2.chpl
  test/unstable/iostyle/styleAndSetStyle2.good
  test/unstable/iostyle/styleAndSetStyle2.txt
  test/unstable/readMatchLiteral.good
  tools/chpldoc/chpldoc.cpp
Labels: area: Compiler, area: Libraries / Modules, area: Tools, area: Tests / Benchmarks, stat: Ready to Merge

#21853 Deprecate fileReader.flush instead of removing it
  modules/standard/IO.chpl
  test/deprecated/IO/fileReaderFlush.chpl
  test/deprecated/IO/fileReaderFlush.good
  test/deprecated/IO/fileReaderFlush.txt
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#21854 Update the example code in the IO docs to work in any error handling setting
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Needs Code Review

#21878 Add a technote about throwing initializers
  doc/rst/technotes/index.rst
  doc/rst/technotes/throwingInit.rst
Labels: area: Docs, stat: Needs Code Review

#21866 Remove outdated reference to EEOF in file.reader docs
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Dyno

#21898 Further adjustments to the IO documentation example codes
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Docs

#21900 Improvements to the Standard Module Style Guide
  doc/rst/developer/bestPractices/StandardModuleStyle.rst
Labels: area: Docs, stat: Needs Code Review

#21940 For clang, move `-W[missing|strict]-prototypes` to `WARN_CXXFLAGS` from `WARN_CFLAGS`
  make/compiler/Makefile.clang
Labels: post-release

#21936 Remove commonFlags.[cpp|h]
  compiler/main/CMakeLists.txt
  compiler/main/Makefile.share
  compiler/main/commonFlags.cpp
  compiler/main/commonFlags.h
  compiler/main/driver.cpp
  compiler/util/files.cpp
Labels: post-release

#21950 Deprecate auto-included version of carg and move it to the Math module
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/cargDep.chpl
  test/deprecated/Math/cargDep.good
  test/types/complex/diten/cplxMathFnTypes.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Ready to Merge

#21930 Make `--print-chpl-home` user-facing; add `--print-chpl-loc`
  compiler/main/driver.cpp
  man/chpl.rst
  test/compflags/bradc/help/userhelp.good
  test/compflags/ferguson/home/sub_test
  util/chpl-completion.bash
  util/devel/chpl-bash-completion-template
Labels: post-release

#21938 Improve deprecation filtering for comments using '~' and '!'
  compiler/AST/symbol.cpp
  frontend/include/chpl/util/filtering.h
  frontend/lib/parsing/parsing-queries.cpp
  frontend/lib/util/CMakeLists.txt
  frontend/lib/util/filtering.cpp
  test/deprecated-keyword/messageFiltering.chpl
  test/deprecated-keyword/messageFiltering.good
  test/deprecated/HDFS/HDFS-open-iomode.good
Labels: post-release

#21935 Unify debugging documentation
  doc/rst/developer/bestPractices/GeneratedCode.rst
  doc/rst/technotes/debuggingChapel.rst
  doc/rst/technotes/index.rst
  doc/rst/usingchapel/debugging.rst
Labels: post-release

#21974 Fix a bug with the implementation of Treap's `kth` method
  modules/packages/SortedSet/Treap.chpl
  test/library/packages/SortedSet/general/kth/noDefaultValue.chpl
  test/library/packages/SortedSet/general/kth/noDefaultValue.good
  test/library/packages/SortedSet/general/kth/yesDefaultValue.chpl
  test/library/packages/SortedSet/general/kth/yesDefaultValue.good
Labels: area: Libraries / Modules, stat: Needs Code Review

#21648 Deprecate Array head() and tail() procs
  modules/internal/ChapelArray.chpl
  test/arrays/userAPI/arrayAPItest.chpl
  test/arrays/userAPI/arrayOps2D-IRV.good
  test/arrays/userAPI/arrayOps2D.good
  test/arrays/userAPI/blockOps2D.comm-none.good
  test/arrays/userAPI/blockOps2D.good
  test/arrays/userAPI/blockOpsRankChange.comm-none.good
  test/arrays/userAPI/blockOpsRankChange.good
  test/arrays/userAPI/blockOpsReindex.comm-none.good
  test/arrays/userAPI/blockOpsReindex.good
  test/arrays/userAPI/callExternArrTest.good
  test/arrays/userAPI/enumArray.good
  test/arrays/userAPI/rankChangeOps3to2D.good
  test/arrays/userAPI/reindexOps2D.good
  test/arrays/userAPI/sliceOps2D.good
  test/arrays/userAPI/unsignedOps.good
  test/arrays/vectorOps/headTailStrided.chpl
  test/arrays/vectorOps/headTailStrided.good
  test/deprecated/arrayHeadTail.chpl
  test/deprecated/arrayHeadTail.good
Labels: post-release
