Repository chapel-lang/chapel, pull requests merged in 2023-01, with the labels that each got.

#21072 Add coarse output to pass printing and adjust graphs
  compiler/main/PhaseTracker.cpp
  test/ANNOTATIONS.yaml
  test/COMPGRAPHFILES
  test/performance/compiler/allPasses.graph
  test/performance/compiler/compilerPerformance.perfkeys
  test/performance/compiler/elliot/passCheck.prediff
  test/performance/compiler/topPasses.graph
  test/performance/compiler/topTotalTime.graph
Labels: post-release

#21079 Fix some import and module scope resolution issues
  compiler/passes/convert-uast.cpp
  frontend/include/chpl/framework/error-classes-list.h
  frontend/include/chpl/resolution/scope-types.h
  frontend/lib/framework/error-classes-list.cpp
  frontend/lib/resolution/Resolver.cpp
  frontend/lib/resolution/Resolver.h
  frontend/lib/resolution/scope-queries.cpp
  frontend/test/resolution/testScopeResolve.cpp
Labels: post-release

#21366 Update the comment in this test file
  test/classes/initializers/cond-only-then-2.chpl
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#21424 Add support for initializers declared as throws
  compiler/AST/primitive.cpp
  compiler/include/InitErrorHandling.h
  compiler/passes/CMakeLists.txt
  compiler/passes/InitErrorHandling.cpp
  compiler/passes/Makefile.share
  compiler/passes/errorHandling.cpp
  compiler/passes/initializerRules.cpp
  compiler/resolution/initializerResolution.cpp
  frontend/include/chpl/uast/prim-ops-list.h
  frontend/lib/resolution/prims.cpp
  test/classes/deinitializers/throwing.bad
  test/classes/deinitializers/throwing.chpl
  test/classes/deinitializers/throwing.future
  test/classes/deinitializers/throwing.good
  test/classes/initializers/errors/errHandling/copyInit/initThrows.chpl
  test/classes/initializers/errors/errHandling/copyInit/initThrows.good
  test/classes/initializers/errors/errHandling/copyInit/propagatedThrowsDirectToMain.chpl
  test/classes/initializers/errors/errHandling/copyInit/propagatedThrowsDirectToMain.good
  test/classes/initializers/errors/errHandling/copyInit/propagatedThrowsToFunc.chpl
  test/classes/initializers/errors/errHandling/copyInit/propagatedThrowsToFunc.good
  test/classes/initializers/errors/errHandling/copyInit/throwsBecauseFieldValueThrows.chpl
  test/classes/initializers/errors/errHandling/copyInit/throwsBecauseFieldValueThrows.good
  test/classes/initializers/errors/errHandling/fieldDefaultThrows.chpl
  test/classes/initializers/errors/errHandling/fieldDefaultThrows.good
  test/classes/initializers/errors/errHandling/ifStatements/allPhase2.chpl
  test/classes/initializers/errors/errHandling/ifStatements/allPhase2.good
  test/classes/initializers/errors/errHandling/ifStatements/elseThrowsPhase1.chpl
  test/classes/initializers/errors/errHandling/ifStatements/elseThrowsPhase1.good
  test/classes/initializers/errors/errHandling/ifStatements/thenThrowsPhase1.chpl
  test/classes/initializers/errors/errHandling/ifStatements/thenThrowsPhase1.good
  test/classes/initializers/errors/errHandling/inheritsFromThrowingInit.chpl
  test/classes/initializers/errors/errHandling/inheritsFromThrowingInit.good
  test/classes/initializers/errors/errHandling/initThrows.chpl
  test/classes/initializers/errors/errHandling/initThrows.good
  test/classes/initializers/errors/errHandling/propagatedThrowsDirectToMain.chpl
  test/classes/initializers/errors/errHandling/propagatedThrowsDirectToMain.good
  test/classes/initializers/errors/errHandling/propagatedThrowsToFunc.chpl
  test/classes/initializers/errors/errHandling/propagatedThrowsToFunc.good
  test/classes/initializers/errors/errHandling/throwsBecauseFieldTypeInitThrows.bad
  test/classes/initializers/errors/errHandling/throwsBecauseFieldTypeInitThrows.chpl
  test/classes/initializers/errors/errHandling/throwsBecauseFieldTypeInitThrows.future
  test/classes/initializers/errors/errHandling/throwsBecauseFieldTypeInitThrows.good
  test/classes/initializers/errors/errHandling/throwsBecauseFieldValueThrows.chpl
  test/classes/initializers/errors/errHandling/throwsBecauseFieldValueThrows.good
  test/classes/initializers/errors/errHandling/throwsInPhase0.chpl
  test/classes/initializers/errors/errHandling/throwsInPhase0.good
  test/classes/initializers/postInit/throwing.bad
  test/classes/initializers/postInit/throwing.chpl
  test/classes/initializers/postInit/throwing.future
  test/classes/initializers/postInit/throwing.good
Labels: area: Compiler, area: Language, area: Tests / Benchmarks, stat: Needs Code Review

#21435 Replace `file.check` with `file.isOpen`
  modules/standard/FileSystem.chpl
  modules/standard/IO.chpl
  test/deprecated/IO/fileCheck.chpl
  test/deprecated/IO/fileCheck.good
  test/io/dtjong/file-close-check.chpl
  test/io/dtjong/file-close-check.good
  test/library/standard/FileSystem/lydia/sameFile/givenNull.good
  test/library/standard/FileSystem/lydia/sameFile/givenNull2.good
  test/library/standard/FileSystem/lydia/sameFile/givenNull3.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#21454 Fix bug with throwing initializers found by CHAMPS
  compiler/passes/InitErrorHandling.cpp
  test/classes/initializers/siblingCall/reductionBefore.chpl
  test/classes/initializers/siblingCall/reductionBefore.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Testing

#21458 Replace the bigint initializers that halt or return error codes with one that throws
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecatedInitializers.chpl
  test/deprecated/BigInteger/deprecatedInitializers.good
  test/library/standard/BigInteger/badFormat.chpl
  test/library/standard/BigInteger/badFormat.compopts
  test/library/standard/BigInteger/badFormat.good
  test/library/standard/BigInteger/exponentiation.compopts
  test/library/standard/BigInteger/fitsIntoMethod64.compopts
  test/library/standard/BigInteger/modCorrectness.compopts
  test/library/standard/BigInteger/testHash.compopts
  test/library/standard/BigInteger/testOps.compopts
  test/library/standard/GMP/congruence.compopts
  test/library/standard/GMP/ferguson/gmp_dist_array.compopts
  test/library/standard/GMP/ferguson/gmp_test.compopts
  test/library/standard/GMP/ldelaney/gmp_Bigint_number_theoretic.compopts
  test/library/standard/GMP/ldelaney/gmp_Bigint_record_constructors.compopts
Labels: area: Libraries / Modules, stat: Ready to Merge

#21492 Add future about extra message for try expressions around funcs with defaults
  test/errhandling/lydia/tryExpressionDefaultValue.bad
  test/errhandling/lydia/tryExpressionDefaultValue.chpl
  test/errhandling/lydia/tryExpressionDefaultValue.future
  test/errhandling/lydia/tryExpressionDefaultValue.good
Labels: area: Tests / Benchmarks, stat: Ready to Merge
