Repository chapel-lang/chapel, pull requests merged in 2023-09, with the labels that each got.

#23190 Update documentation for `Math.exp` and `Math.expm1` to link to `e`
  modules/standard/Math.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Ready to Merge

#23206 Mark erf, erfc and bessel functions unstable
  modules/standard/Math.chpl
  test/unstable/Math/unstableBessel.chpl
  test/unstable/Math/unstableBessel.good
  test/unstable/Math/unstableErf.chpl
  test/unstable/Math/unstableErf.good
  test/unstable/Math/unstableErfc.chpl
  test/unstable/Math/unstableErfc.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23222 Fix some issues with unstable documentation and add a test
  test/chpldoc/unstableSymbols.doc.catfiles
  test/chpldoc/unstableSymbols.doc.chpl
  test/chpldoc/unstableSymbols.doc.good
  tools/chpldoc/chpldoc.cpp
Labels: area: Docs, area: Tools, area: Tests / Benchmarks, stat: Needs Code Review

#23254 Adjust qualified access of auto-included symbols from ChapelIO and AutoMath
  modules/standard/AutoMath.chpl
  modules/standard/ChapelIO.chpl
  modules/standard/IO.chpl
  modules/standard/Math.chpl
  test/compflags/ferguson/print-module-resolution.good
  test/library/standard/IO/qualifiedAccessAutoSymbols.chpl
  test/library/standard/IO/qualifiedAccessAutoSymbols.good
  test/library/standard/Math/qualifiedAccessAutoSymbols.chpl
  test/library/standard/Math/qualifiedAccessAutoSymbols.good
  test/modules/sungeun/init/printModuleInitOrder.good
  test/separate_compilation/serialization/testGenLib.MyMod.good
  test/separate_compilation/serialization/testGenLib.OtherMod.good
  test/separate_compilation/serialization/testGenLib.both.good
  test/unstable/Math/unstableAutoMath.chpl
  test/unstable/Math/unstableAutoMath.good
  test/unstable/unstableChapelIO.chpl
  test/unstable/unstableChapelIO.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23261 Adjust dyno to only trigger unstable config warnings when --warn-unstable is set
  frontend/lib/uast/Builder.cpp
  test/distributions/bharshbarg/fastFollowerEquality.good
  test/distributions/robust/arithmetic/reindexing/simple-alias-mem-use.comm-none.good
  test/distributions/robust/arithmetic/reindexing/simple-alias-mem-use.good
  test/unstable-keyword/config/paramConfigInCmd.compopts
  test/unstable-keyword/config/paramConfigInCmd.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#23279 Modify the stdin/stdout/stderr documentation to avoid referencing file descs
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Ready to Merge

#23320 Fix memleaks testing warnings for with `--warn-unstable`
  test/statements/manage/WarnUnstable.skipif
  test/unstable/unstableConfigs.execopts
  test/unstable/unstableConfigs.mem.chpl
  test/unstable/unstableConfigs.mem.execopts
  test/unstable/unstableConfigs.mem.good
  test/unstable/unstableConfigs.mem.skipif
  util/cron/common-memleaks.bash
  util/test/prediff-for-unstable-memleaks
Labels: area: Makefiles / Scripts, area: Tests / Benchmarks, stat: Needs Code Review

#23325 Adjust gcd implementation and add overloads to return different sized ints/uints
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/library/standard/Math/testcases_gcd.chpl
  test/library/standard/Math/testcases_gcd.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23379 Also elide warnings about --memLeaksLog in full memleaks testing
  util/test/prediff-for-unstable-memleaks
Labels: area: Makefiles / Scripts, area: Tests / Benchmarks, stat: Needs Code Review

#23387 Remove version of Bessel functions that were included by default
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/deprecated/Math/j0.chpl
  test/deprecated/Math/j0.good
  test/deprecated/Math/j1.chpl
  test/deprecated/Math/j1.good
  test/deprecated/Math/jn.chpl
  test/deprecated/Math/jn.good
  test/deprecated/Math/y0.chpl
  test/deprecated/Math/y0.good
  test/deprecated/Math/y1.chpl
  test/deprecated/Math/y1.good
  test/deprecated/Math/yn.chpl
  test/deprecated/Math/yn.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23388 Add a notest for revcomp8, too
  test/studies/shootout/submitted/revcomp8.notest
Labels: area: Tests / Benchmarks

#23391 Remove deprecated symbols from the BigInteger module
  modules/standard/BigInteger.chpl
  test/deprecated/BigInteger/deprecateGetd2exp.chpl
  test/deprecated/BigInteger/deprecateGetd2exp.good
  test/deprecated/BigInteger/deprecateMpzStruct.chpl
  test/deprecated/BigInteger/deprecateMpzStruct.good
  test/deprecated/BigInteger/deprecatePowm.chpl
  test/deprecated/BigInteger/deprecatePowm.good
  test/deprecated/BigInteger/deprecateRound.chpl
  test/deprecated/BigInteger/deprecateRound.good
  test/deprecated/BigInteger/deprecateSize.chpl
  test/deprecated/BigInteger/deprecateSize.good
  test/deprecated/BigInteger/deprecateSize.skipif
  test/deprecated/BigInteger/deprecateSizeinbase.chpl
  test/deprecated/BigInteger/deprecateSizeinbase.good
  test/studies/shootout/submitted/pidigits2.notest
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#23448 "nodoc" the deprecated configs in BigInteger and IO, at Brad's suggestion
  modules/standard/BigInteger.chpl
  modules/standard/IO.chpl
Labels: area: Libraries / Modules, area: Docs

#23453 Limit int->uint conversion unstable warnings to user code (without other flags)
  compiler/resolution/functionResolution.cpp
Labels: area: Compiler, stat: Needs Code Review

#23484 Retire fft.chpl from release/examples
  test/GRAPHFILES
  test/ML-GRAPHFILES
  test/release/examples/benchmarks/hpcc/Makefile
  test/release/examples/benchmarks/hpcc/README
  test/release/examples/benchmarks/hpcc/fft.compopts
  test/release/examples/benchmarks/hpcc/fft.perfcompopts
  test/studies/hpcc/FFT/fft-testPow4.compopts
  test/studies/hpcc/FFT/fft.chpl
  test/studies/hpcc/FFT/fft.compopts
  test/studies/hpcc/FFT/fft.execopts
  test/studies/hpcc/FFT/fft.good
  test/studies/hpcc/FFT/fft.graph
  test/studies/hpcc/FFT/fft.ml-execenv
  test/studies/hpcc/FFT/fft.ml-execopts
  test/studies/hpcc/FFT/fft.ml-keys
  test/studies/hpcc/FFT/fft.ml-numlocales
  test/studies/hpcc/FFT/fft.ml-perf.graph
  test/studies/hpcc/FFT/fft.ml-time.graph
  test/studies/hpcc/FFT/fft.numlocales
  test/studies/hpcc/FFT/fft.perfcompopts
  test/studies/hpcc/FFT/fft.perfexecopts
  test/studies/hpcc/FFT/fft.perfkeys
  test/studies/hpcc/FFT/fft_performance.graph
Labels: area: Makefiles / Scripts, area: Tests / Benchmarks, stat: Needs Code Review

#23485 Retire hpl.chpl from release/examples
  test/GRAPHFILES
  test/ML-GRAPHFILES
  test/release/examples/benchmarks/hpcc/Makefile
  test/release/examples/benchmarks/hpcc/README
  test/studies/hpcc/HPL/hpl.chpl
  test/studies/hpcc/HPL/hpl.compopts
  test/studies/hpcc/HPL/hpl.execopts
  test/studies/hpcc/HPL/hpl.good
  test/studies/hpcc/HPL/hpl.graph
  test/studies/hpcc/HPL/hpl.ml-execopts
  test/studies/hpcc/HPL/hpl.ml-keys
  test/studies/hpcc/HPL/hpl.ml-numlocales
  test/studies/hpcc/HPL/hpl.ml-perf.graph
  test/studies/hpcc/HPL/hpl.ml-time.graph
  test/studies/hpcc/HPL/hpl.perfcompopts
  test/studies/hpcc/HPL/hpl.perfexecopts
  test/studies/hpcc/HPL/hpl.perfkeys
  test/studies/hpcc/HPL/hpl_performance.graph
  test/studies/hpcc/HPL/perfComp/hplMaxLogical.chpl
  test/studies/hpcc/HPL/perfComp/hplMaxLogical.good
  test/studies/hpcc/HPL/perfComp/hplMaxLogical.perfexecopts
  test/studies/hpcc/HPL/perfComp/hplMaxLogical.perfkeys
Labels: area: Makefiles / Scripts, area: Tests / Benchmarks, stat: Needs Testing

#23494 Fix multilocale performance runs for the moved HPL and FFT tests
  test/studies/hpcc/FFT/fft.ml-compopts
  test/studies/hpcc/HPL/hpl.ml-compopts
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#23501 Improve documentation of AutoMath/Math and ChapelIO/IO pairs
  doc/rst/meta/modules/standard.rst
  modules/standard/AutoMath.chpl
  modules/standard/ChapelIO.chpl
  modules/standard/IO.chpl
  modules/standard/Math.chpl
Labels: area: Docs

#23489 Add Python bindings for the Dyno compiler front-end
  tools/chapel-py/README.md
  tools/chapel-py/chapel.cpp
  tools/chapel-py/chapel/__init__.py
  tools/chapel-py/chapel/replace.py
  tools/chapel-py/chplcheck.py
  tools/chapel-py/examples/replace.py
  tools/chapel-py/setup.py
Labels: post-release

#23513 Add a missing `SET_LINENO` to resolve bug #21402.
  compiler/resolution/resolveFunction.cpp
  test/reductions/userdefined/bug21402.chpl
  test/reductions/userdefined/bug21402.good
Labels: post-release

#23541 Add missing keywords to vim syntax highlighter
  doc/rst/language/spec/lexical-structure.rst
  highlight/vim/syntax/chpl.vim
Labels: post-release

#23508 Fix uast list for TypeQuery
  frontend/include/chpl/uast/uast-classes-list.h
Labels: post-release

#23520 Print file path in detailed errors when jumping files
  frontend/include/chpl/framework/ErrorWriter.h
  frontend/lib/framework/ErrorWriter.cpp
Labels: post-release
