Repository chapel-lang/chapel, pull requests merged in 2023-02, with the labels that each got.

#21495 Fix a bug with calling throwing initializers in try! expressions
  compiler/passes/normalize.cpp
  compiler/resolution/initializerResolution.cpp
  test/classes/initializers/errors/errHandling/calls/tryBangExpression.chpl
  test/classes/initializers/errors/errHandling/calls/tryBangExpression.good
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionDefault.chpl
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionDefault.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#21513 Fix try! expressions around new calls for records, too
  compiler/resolution/initializerResolution.cpp
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionDefaultRecord.chpl
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionDefaultRecord.good
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionRecord.chpl
  test/classes/initializers/errors/errHandling/calls/tryBangExpressionRecord.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Ready to Merge

#21445 Add a transpose benchmark for GPUs
  test/GPU-GRAPHFILES
  test/gpu/native/studies/transpose/GPU-EXECOPTS
  test/gpu/native/studies/transpose/transpose-throughput.graph
  test/gpu/native/studies/transpose/transpose-time.graph
  test/gpu/native/studies/transpose/transpose.chpl
  test/gpu/native/studies/transpose/transpose.good
  test/gpu/native/studies/transpose/transpose.gpu-execopts
  test/gpu/native/studies/transpose/transpose.gpu-keys
Labels: area: GPU Support

#21480 (GPU) Force -O3 flag for ptxas when compiling --fast.
  compiler/include/driver.h
  compiler/llvm/clangUtil.cpp
  compiler/main/driver.cpp
  util/chpl-completion.bash
Labels: area: GPU Support

#21564 Skip this test under valgrind
  test/library/standard/IO/initWithCFile/errorCase.chpl
  test/library/standard/IO/initWithCFile/errorCase.skipif
Labels: area: Tests / Benchmarks

#21659 Updates to file initializers replacing openfp and openfd
  modules/standard/IO.chpl
  modules/standard/Subprocess.chpl
  test/library/standard/IO/initWithCFile/errorCase.chpl
  test/library/standard/IO/initWithCFile/openCFile.chpl
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review
