Repository chapel-lang/chapel, pull requests merged in 2023-10, with the labels that each got.

#23472 Start removing bool-returning `readBinary` deprecation
  modules/standard/IO.chpl
  test/deprecated/IO/readBinaryArray.compopts
  test/deprecated/IO/readBinaryArray.good
  test/io/corrado/buffering_optimization/COMPOPTS
  test/io/corrado/qio_buf_optimization_perf/COMPOPTS
  test/library/standard/IO/readBinary/COMPOPTS
  test/library/standard/IO/readBinary/multiloc/binaryArray.compopts
  test/library/standard/IO/readConcurrent.compopts
  test/library/standard/IO/writeBinary/multiDimArraySlices-old.chpl
  test/library/standard/IO/writeBinary/multiDimArraySlices-old.good
  test/library/standard/IO/writeBinary/multiDimArraySlices.compopts
  test/library/standard/IO/writeBinary/readBlockArray-old.chpl
  test/library/standard/IO/writeBinary/readBlockArray-old.compopts
  test/library/standard/IO/writeBinary/readBlockArray-old.good
  test/library/standard/IO/writeBinary/readBlockArray-old.noexec
  test/library/standard/IO/writeBinary/readWriteMultidimArray-old-block.good
  test/library/standard/IO/writeBinary/readWriteMultidimArray-old-dr.good
  test/library/standard/IO/writeBinary/readWriteMultidimArray-old.chpl
  test/library/standard/IO/writeBinary/readWriteMultidimArray-old.compopts
  test/library/standard/IO/writeBinary/readWriteMultidimArray.compopts
  test/release/examples/benchmarks/shootout/revcomp-fast.compopts
  test/release/examples/benchmarks/shootout/revcomp-fast.perfcompopts
Labels: post-release

#23532 Include AutoMath symbols in Math docs
  doc/rst/conf.py
  doc/rst/language/spec/expressions.rst
  doc/rst/meta/modules/standard.rst
  modules/standard/AutoMath.chpl
  modules/standard/Math.chpl
  test/library/standard/Math/docs/.gitignore
  test/library/standard/Math/docs/usemath.doc.chpl
  test/library/standard/Math/docs/usemath.doc.chpldocopts
  test/library/standard/Math/docs/usemath.doc.cleanfiles
  test/library/standard/Math/docs/usemath.doc.good
  test/library/standard/Math/docs/usemath.doc.prediff
  test/library/standard/Math/docs/usemath.skipif
  tools/chpldoc/chpldoc.cpp
Labels: post-release

#22907 Update `openUrlReader` and `openUrlWriter` in `URL` to use `region` instead of `start` and `end` args
  modules/packages/URL.chpl
  test/deprecated/URL/depReaderWriter.good
  test/deprecated/URL/startEndReaderWriter.chpl
  test/deprecated/URL/startEndReaderWriter.compopts
  test/deprecated/URL/startEndReaderWriter.good
  test/deprecated/URL/startEndReaderWriter.noexec
  test/library/packages/Curl/download-http-upload-ftp.noexec
  test/library/packages/Curl/upload-ftp.noexec
  test/library/packages/URL.skipif
  test/library/packages/URL/regionArgReader.chpl
  test/library/packages/URL/regionArgReader.good
  test/library/packages/URL/regionArgWriter.chpl
  test/library/packages/URL/regionArgWriter.good
  test/library/packages/URL/regionArgWriter.noexec
  util/cron/test-networking-packages.bash
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Ready to Merge

#23617 Remove output from the .good files of these tests
  test/library/packages/Curl/download-http-upload-ftp.good
  test/library/packages/Curl/upload-ftp.good
Labels: area: Tests / Benchmarks, stat: Ready to Merge

#23628 Change the regionArgReader test to be more reliable
  test/library/packages/URL/RunServer.chpl
  test/library/packages/URL/RunServer.notest
  test/library/packages/URL/regionArgReader.chpl
  test/library/packages/URL/regionArgReader.good
  test/library/packages/URL/test.txt
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#23510 Retire ptrans from release/examples into studies/hpcc/PTRANS
  test/GRAPHFILES
  test/ML-GRAPHFILES
  test/release/examples/benchmarks/hpcc/Makefile
  test/release/examples/benchmarks/hpcc/README
  test/studies/hpcc/PTRANS/old/PTRANS.chpl
  test/studies/hpcc/PTRANS/old/PTRANS.execopts
  test/studies/hpcc/PTRANS/old/PTRANS.good
  test/studies/hpcc/PTRANS/old/PTRANS.skipif
  test/studies/hpcc/PTRANS/old/PTRANS.valgrind.chpl
  test/studies/hpcc/PTRANS/old/PTRANS.valgrind.compopts
  test/studies/hpcc/PTRANS/old/PTRANS.valgrind.execopts
  test/studies/hpcc/PTRANS/old/PTRANS.valgrind.good
  test/studies/hpcc/PTRANS/old/PTRANS.valgrind.skipif
  test/studies/hpcc/PTRANS/ptrans.chpl
  test/studies/hpcc/PTRANS/ptrans.compopts
  test/studies/hpcc/PTRANS/ptrans.execopts
  test/studies/hpcc/PTRANS/ptrans.good
  test/studies/hpcc/PTRANS/ptrans.graph
  test/studies/hpcc/PTRANS/ptrans.ml-compopts
  test/studies/hpcc/PTRANS/ptrans.ml-execopts
  test/studies/hpcc/PTRANS/ptrans.ml-keys
  test/studies/hpcc/PTRANS/ptrans.ml-numlocales
  test/studies/hpcc/PTRANS/ptrans.ml-perf.graph
  test/studies/hpcc/PTRANS/ptrans.ml-time.graph
  test/studies/hpcc/PTRANS/ptrans.perfcompopts
  test/studies/hpcc/PTRANS/ptrans.perfexecopts
  test/studies/hpcc/PTRANS/ptrans.perfkeys
  test/studies/hpcc/PTRANS/ptrans.perftimeout
  test/studies/hpcc/PTRANS/ptrans_performance.graph
Labels: area: Makefiles / Scripts, area: Tests / Benchmarks, stat: Needs Code Review

#23527 Retire LCALS from release/examples and move it to the studies directory
  test/GRAPHFILES
  test/release/examples/benchmarks/README
  test/studies/lcals/LCALS-parallel-long.graph
  test/studies/lcals/LCALS-parallel-medium.graph
  test/studies/lcals/LCALS-parallel-short.graph
  test/studies/lcals/LCALS-raw-long.graph
  test/studies/lcals/LCALS-raw-medium.graph
  test/studies/lcals/LCALS-raw-short.graph
  test/studies/lcals/LCALSChecksums.chpl
  test/studies/lcals/LCALSChecksums.notest
  test/studies/lcals/LCALSConfiguration.chpl
  test/studies/lcals/LCALSConfiguration.notest
  test/studies/lcals/LCALSDataTypes.chpl
  test/studies/lcals/LCALSDataTypes.notest
  test/studies/lcals/LCALSEnums.chpl
  test/studies/lcals/LCALSEnums.notest
  test/studies/lcals/LCALSLoops.chpl
  test/studies/lcals/LCALSLoops.notest
  test/studies/lcals/LCALSMain.chpl
  test/studies/lcals/LCALSMain.compopts
  test/studies/lcals/LCALSMain.good
  test/studies/lcals/LCALSMain.perfcompopts
  test/studies/lcals/LCALSMain.perfkeys
  test/studies/lcals/LCALSMain.perftimeout
  test/studies/lcals/LCALSMain.skipif
  test/studies/lcals/LCALSParams.chpl
  test/studies/lcals/LCALSParams.notest
  test/studies/lcals/LCALSStatic.chpl
  test/studies/lcals/LCALSStatic.notest
  test/studies/lcals/LongDouble.chpl
  test/studies/lcals/LongDouble.notest
  test/studies/lcals/Makefile
  test/studies/lcals/README
  test/studies/lcals/README-LCALS_license.txt
  test/studies/lcals/RunARawLoops.chpl
  test/studies/lcals/RunARawLoops.notest
  test/studies/lcals/RunBRawLoops.chpl
  test/studies/lcals/RunBRawLoops.notest
  test/studies/lcals/RunCRawLoops.chpl
  test/studies/lcals/RunCRawLoops.notest
  test/studies/lcals/RunParallelRawLoops.chpl
  test/studies/lcals/RunParallelRawLoops.notest
  test/studies/lcals/RunSPMDRawLoops.chpl
  test/studies/lcals/RunSPMDRawLoops.notest
  test/studies/lcals/RunVectorizeOnlyRawLoops.chpl
  test/studies/lcals/RunVectorizeOnlyRawLoops.notest
  test/studies/lcals/Timer.chpl
  test/studies/lcals/Timer.notest
  test/studies/lcals/longdouble.h
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#22592 Fix memory leak in gpu runtime
  runtime/include/chpl-mem-desc.h
  runtime/src/gpu/amd/gpu-amd.c
  runtime/src/gpu/nvidia/gpu-nvidia.c
  test/gpu/native/diags.good
Labels: post-release, area: GPU Support

#22318 Add llvmMoved GPU test
  test/gpu/native/llvmMoved.chpl
  test/gpu/native/llvmMoved.execopts
  test/gpu/native/llvmMoved.good
  third-party/llvm/README
Labels: area: Third-Party, area: GPU Support

#23739 Add a test locking in that catching unstable Errors only warns once
  test/unstable-keyword/catchUnstableError.chpl
  test/unstable-keyword/catchUnstableError.compopts
  test/unstable-keyword/catchUnstableError.good
Labels: area: Tests / Benchmarks, stat: Ready to Merge
