Repository chapel-lang/chapel, pull requests merged in 2024-08, with the labels that each got.

#25736 Deprecate Sort module's reverseComparator variable and add a type alias
  modules/packages/Search.chpl
  modules/standard/Heap.chpl
  modules/standard/Sort.chpl
  test/associative/ferguson/assoc-sort-comparator.chpl
  test/deprecated/Heap/depGlobal.chpl
  test/deprecated/Heap/depGlobal.good
  test/deprecated/Search/depGlobals.chpl
  test/deprecated/Search/depGlobals.good
  test/deprecated/Sort/depGlobals.chpl
  test/deprecated/Sort/depGlobals.good
  test/library/draft/Vector/sort/vectorSortOtherComparator.chpl
  test/library/packages/Search/correctness.chpl
  test/library/standard/Heap/push/heapPush.chpl
  test/library/standard/List/sort/listSortOtherComparator.chpl
  test/library/standard/Sort/correctness/correctness.chpl
  test/library/standard/Sort/correctness/sort-region.chpl
  test/library/standard/Sort/performance/sort-performance-explorer.chpl
  test/release/examples/benchmarks/shootout/knucleotide.chpl
  test/studies/shootout/k-nucleotide/benmcd/knucleotide-user-hash.chpl
  test/studies/shootout/k-nucleotide/bharshbarg/knucleotide-associative.chpl
  test/studies/shootout/k-nucleotide/bharshbarg/knucleotide-chaining.chpl
  test/studies/shootout/k-nucleotide/bharshbarg/knucleotide-strings.chpl
  test/studies/shootout/k-nucleotide/bradc/knucleotide-blc.chpl
  test/studies/shootout/submitted/knucleotide3.execopts
  test/studies/shootout/submitted/knucleotide3.good
  test/studies/shootout/submitted/knucleotide3.txt.good
  test/studies/shootout/submitted/knucleotide4.execopts
  test/studies/shootout/submitted/knucleotide4.good
  test/studies/shootout/submitted/knucleotide4.txt.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#25740 Deprecate defaultComparator.compare and reverseComparator.compare argument names
  modules/standard/Sort.chpl
  test/deprecated/Sort/comparatorArgs.chpl
  test/deprecated/Sort/comparatorArgs.good
Labels: area: Libraries / Modules, area: Tests / Benchmarks, stat: Needs Code Review

#25743 Add knucleotide4 to the README in the submitted shootouts directory
  test/studies/shootout/submitted/README.md
Labels: area: Docs, area: Tests / Benchmarks, stat: Needs Code Review

#25761 Rename the argument for TwoArrayDistSortPerBucketTaskStartComparator.key()
  modules/standard/Sort.chpl
Labels: area: Libraries / Modules

#25765 Link module index to global doc index
  doc/rst/index.rst
Labels: area: Docs, stat: Ready to Merge

#25764 Shorten `DistributedBag` module description for module index
  modules/packages/DistributedBag.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Ready to Merge

#25804 Improve the error encountered when accidentally making an iterator special method
  frontend/include/chpl/framework/all-global-strings.h
  frontend/include/chpl/parsing/parsing-queries.h
  frontend/lib/parsing/parsing-queries.cpp
  frontend/lib/uast/post-parse-checks.cpp
  test/classes/initializers/errors/iteratorDeinitMethod.chpl
  test/classes/initializers/errors/iteratorDeinitMethod.good
  test/classes/initializers/errors/iteratorDeinitMethodCalled.chpl
  test/classes/initializers/errors/iteratorDeinitMethodCalled.good
  test/classes/initializers/errors/iteratorDeserializeMethod.chpl
  test/classes/initializers/errors/iteratorDeserializeMethod.good
  test/classes/initializers/errors/iteratorDeserializeMethodCalled.chpl
  test/classes/initializers/errors/iteratorDeserializeMethodCalled.good
  test/classes/initializers/errors/iteratorEnterContext.chpl
  test/classes/initializers/errors/iteratorEnterContext.good
  test/classes/initializers/errors/iteratorEnterContextMethodCalled.chpl
  test/classes/initializers/errors/iteratorEnterContextMethodCalled.good
  test/classes/initializers/errors/iteratorExitContextMethod.chpl
  test/classes/initializers/errors/iteratorExitContextMethod.good
  test/classes/initializers/errors/iteratorExitContextMethodCalled.chpl
  test/classes/initializers/errors/iteratorExitContextMethodCalled.good
  test/classes/initializers/errors/iteratorHashMethod.chpl
  test/classes/initializers/errors/iteratorHashMethod.good
  test/classes/initializers/errors/iteratorHashMethodCalled.chpl
  test/classes/initializers/errors/iteratorHashMethodCalled.good
  test/classes/initializers/errors/iteratorInitEqualsMethod.chpl
  test/classes/initializers/errors/iteratorInitEqualsMethod.good
  test/classes/initializers/errors/iteratorInitEqualsMethodCalled.chpl
  test/classes/initializers/errors/iteratorInitEqualsMethodCalled.good
  test/classes/initializers/errors/iteratorInitMethod.chpl
  test/classes/initializers/errors/iteratorInitMethod.good
  test/classes/initializers/errors/iteratorInitMethodCalled.chpl
  test/classes/initializers/errors/iteratorInitMethodCalled.good
  test/classes/initializers/errors/iteratorPostinitMethod.chpl
  test/classes/initializers/errors/iteratorPostinitMethod.good
  test/classes/initializers/errors/iteratorPostinitMethodCalled.chpl
  test/classes/initializers/errors/iteratorPostinitMethodCalled.good
  test/classes/initializers/errors/iteratorSerializeMethod.chpl
  test/classes/initializers/errors/iteratorSerializeMethod.good
  test/classes/initializers/errors/iteratorSerializeMethodCalled.chpl
  test/classes/initializers/errors/iteratorSerializeMethodCalled.good
Labels: area: Compiler, area: Tests / Benchmarks, stat: Ready to Merge

#25844 Fix an issue with library compilation on Macs
  compiler/codegen/library.cpp
  test/interop/C/exportArray/callArrayArg_queriedDomain.lastcompopts
  test/interop/C/exportArray/callArrayOpaquePointer.lastcompopts
  test/interop/C/exportArray/callCheckIfEmpty.lastcompopts
  test/interop/C/exportArray/callExported2Arg.lastcompopts
  test/interop/C/exportArray/callExported2ArgDiff.lastcompopts
  test/interop/C/exportArray/callExported2Arrays.lastcompopts
  test/interop/C/exportArray/callExportedArrayFunc.lastcompopts
  test/interop/C/exportArray/callExportedExplicit.lastcompopts
  test/interop/C/exportArray/callExportedRealArr.lastcompopts
  test/interop/C/exportArray/callExportedWithExternType.lastcompopts
  test/interop/C/exportArray/callExportedWithPtr.lastcompopts
  test/interop/C/exportArray/callFuncReturnsArray.lastcompopts
  test/interop/C/exportArray/callWrapArrayAsOpaque_global.lastcompopts
  test/interop/C/exportArray/callWrapArrayAsOpaque_moreComplex.lastcompopts
  test/interop/C/exportArray/returningArr/callExportedArrArgReturnInt.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArray.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayGenericDecl.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayGenericDecl2.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayOfReals.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArg.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArg2.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg2.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg3.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsArrayTakesArrayArg4.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsBadArray.lastcompopts
  test/interop/C/exportArray/returningArr/callFuncReturnsBadArray2.lastcompopts
  test/interop/C/externRecords/sendExternRecord.lastcompopts
  test/interop/C/globals/use_reliesOnGlobal-library-init.lastcompopts
  test/interop/C/globals/use_reliesOnGlobal.lastcompopts
  test/interop/C/noLibFlag/callDirSet.lastcompopts
  test/interop/C/use_PtrConstQualifier.lastcompopts
  test/interop/C/use_testing.lastcompopts
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#25832 Improves the documentation for atan and atan2 in the Math module
  modules/standard/Math.chpl
Labels: area: Libraries / Modules, area: Docs, stat: Needs Code Review
