Repository chapel-lang/chapel, pull requests merged in 2024-10, with the labels that each got.

#25943 Add gpuId proc on locale
  modules/internal/ChapelLocale.chpl
  modules/internal/localeModels/gpu/LocaleModel.chpl
  test/gpu/native/multiGPU/gpuId.chpl
  test/gpu/native/multiGPU/gpuId.good
  test/gpu/native/multiLocale/gpuId.chpl
  test/gpu/native/multiLocale/gpuId.good
  test/gpu/nongpu/gpuId.chpl
  test/gpu/nongpu/gpuId.good
Labels: area: GPU Support

#26032 Allow mason to use a license reference repo, to fix testing timeouts
  test/mason/EXECENV
  tools/mason/MasonEnv.chpl
  tools/mason/MasonPublish.chpl
Labels: area: Tools, stat: Needs Code Review

#25902 Prevent modification of const ref varargs, too
  compiler/resolution/expandVarArgs.cpp
  compiler/resolution/functionResolution.cpp
  test/functions/varargs/constRefVarargs.chpl
  test/functions/varargs/constRefVarargs.good
  test/functions/varargs/constRefVarargsQuery.chpl
  test/functions/varargs/constRefVarargsQuery.good
  test/functions/varargs/varargsModArray.good
  test/library/draft/DataFrames/psahabu/HelloDataFrame-createDomFirst.chpl
  test/library/draft/DataFrames/psahabu/HelloDataFrame-createDomFirst.compopts
  test/library/draft/DataFrames/psahabu/HelloDataFrame-createDomFirst.good
  test/library/draft/DataFrames/psahabu/HelloDataFrame-createDomFirst.py
  test/library/draft/DataFrames/psahabu/HelloDataFrame.bad
  test/library/draft/DataFrames/psahabu/HelloDataFrame.future
Labels: area: Compiler, area: Tests / Benchmarks, stat: Needs Code Review

#26079 chore: bump pyyaml to 6.0.2 to support py3.13 build
  third-party/chpl-venv/test-requirements.txt
Labels: area: Third-Party, stat: Ready to Merge

#26081 Update remaining python dependencies for various tools
  third-party/chpl-venv/c2chapel-requirements.txt
  third-party/chpl-venv/chapel-py-requirements.txt
  third-party/chpl-venv/chpldoc-requirements1.txt
  third-party/chpl-venv/chpldoc-requirements2.txt
  third-party/chpl-venv/cls-test-requirements.txt
  third-party/chpl-venv/test-requirements.txt
  tools/c2chapel/Makefile
Labels: area: Third-Party, area: Tools, stat: Needs Code Review, area: Python bindings

#26095 c2chapel dependency changes
  third-party/chpl-venv/c2chapel-requirements.txt
  tools/c2chapel/Makefile
Labels: area: Tools, stat: Needs Code Review

#26112 Remove an outdated suggestion from the `./configure` documentation
  doc/rst/usingchapel/building.rst
Labels: area: Docs, stat: Needs Code Review

#25950 Update docs/latest URLs to simply be docs/
  compiler/AST/symbol.cpp
  frontend/include/chpl/util/filtering.h
  frontend/lib/util/filtering.cpp
  test/deprecated-keyword/messageFiltering.chpl
  third-party/llvm/Makefile
Labels: post-release

#26121 Split mason license tests into two (linked) versions
  test/mason/EXECENV
  test/mason/publish/licenseList.execenv
  test/mason/publish/licenseList.skipif
  test/mason/publish/licenseListNoCache.chpl
  test/mason/publish/licenseListNoCache.compopts
  test/mason/publish/licenseListNoCache.good
  test/mason/publish/licenseListNoCache.skipif
  test/mason/publish/licenseRefresh.execenv
  test/mason/publish/licenseRefresh.skipif
  test/mason/publish/licenseRefreshNoCache.chpl
  test/mason/publish/licenseRefreshNoCache.compopts
  test/mason/publish/licenseRefreshNoCache.good
  test/mason/publish/licenseRefreshNoCache.skipif
Labels: area: Tests / Benchmarks, stat: Needs Code Review

#26183 Make the python interoperability jobs fail if dependencies are not installed
  util/cron/common-python-interop.bash
  util/cron/getCompiler.py
  util/cron/test-python-modules.bash
  util/cron/test-python-modules.gasnet.bash
Labels: area: BTR, stat: Needs Code Review
