Repository chapel-lang/chapel, pull requests merged in 2025-05, with the labels that each got.

#27261 Add automatic cleanup of dSYM files to `sub_clean`
  .gitignore
  test/library/standard/Debugger/breakpoint/.gitignore
  test/library/standard/Debugger/breakpoint/CLEANFILES
  test/llvm/assertVectorize/.gitignore
  test/llvm/assertVectorize/CLEANFILES
  test/llvm/dbg-intrinsics/.gitignore
  test/llvm/dbg-intrinsics/CLEANFILES
  test/llvm/dbg-records/.gitignore
  test/llvm/dbg-records/CLEANFILES
  util/test/sub_clean
Labels: stat: Ready to Merge

#27267 Initial edition implementation
  compiler/AST/symbol.cpp
  compiler/include/driver.h
  compiler/include/symbol.h
  compiler/main/driver.cpp
  compiler/passes/convert-help.cpp
  compiler/resolution/visibleFunctions.cpp
  frontend/include/chpl/framework/all-global-strings.h
  frontend/include/chpl/uast/AttributeGroup.h
  frontend/include/chpl/uast/PragmaList.h
  frontend/lib/parsing/ParserContext.h
  frontend/lib/parsing/ParserContextImpl.h
  frontend/lib/uast/AttributeGroup.cpp
  frontend/lib/uast/post-parse-checks.cpp
  man/chpl.rst
  test/compflags/bradc/help/userhelp.good
  test/compflags/bradc/oneDash/badFlag.good
  test/edition/basics/attributeCheck-badArgName.chpl
  test/edition/basics/attributeCheck-badArgName.good
  test/edition/basics/attributeCheck-badArgType.chpl
  test/edition/basics/attributeCheck-badArgType.good
  test/edition/basics/attributeCheck-badFirstEditionName.chpl
  test/edition/basics/attributeCheck-badFirstEditionName.good
  test/edition/basics/attributeCheck-badLastEditionName.chpl
  test/edition/basics/attributeCheck-badLastEditionName.good
  test/edition/basics/attributeCheck-badOrdering.chpl
  test/edition/basics/attributeCheck-badOrdering.good
  test/edition/basics/attributeCheck-default.chpl
  test/edition/basics/attributeCheck-default.good
  test/edition/basics/attributeCheck-noArg.chpl
  test/edition/basics/attributeCheck-noArg.good
  test/edition/basics/attributeCheck-noArgName.chpl
  test/edition/basics/attributeCheck-noArgName.good
  test/edition/basics/attributeCheck-noParen.chpl
  test/edition/basics/attributeCheck-noParen.good
  test/edition/basics/attributeCheck.chpl
  test/edition/basics/attributeCheck.compopts
  test/edition/basics/attributeCheck.good
  test/edition/basics/attributeCheck.new.good
  test/edition/basics/flagCheck.badEdition.good
  test/edition/basics/flagCheck.chpl
  test/edition/basics/flagCheck.compopts
  test/edition/basics/flagCheck.good
  util/chpl-completion.bash
Labels: area: Compiler, area: Language, area: Tools, area: Tests / Benchmarks, stat: Needs Code Review

#27294 Avoid missing brace warning in new edition code
  compiler/main/driver.cpp
Labels: area: Compiler
